{% ckan_extends %}

{% block secondary_content %}
  {% snippet 'package/snippets/info.html', res=res %}

  <section class="module module-narrow">
    <div class="module context-info">
      <div class="module-content">
          <a class="dataset-sidebar" href="{{ h.url_for(pkg.type + '_read', controller='dataset', action='read', id=pkg.name) }}">{{ _("Subsystem's information") }}</a>
          <a class="dataset-sidebar" href="{{ h.url_for('apply_permissions.permission_application_settings', subsystem_id=pkg.name) }}">{{ _('Access request settings') }}</a>
          <a class="dataset-sidebar" href="{{ h.url_for('apply_permissions.manage_permission_applications', subsystem_id=pkg.name) }}">{{ _('Received access requests') }}</a>
      </div>
    </div>
  </section>
{% endblock %}
