{% ckan_extends %}

{% block secondary_content %}
{#  {% snippet 'package/snippets/info.html', res=res %}#}
{##}
{#  <section class="module module-narrow">#}
{#    <div class="module context-info">#}
{#      <div class="module-content">#}
{#        <h1 class="heading">{{ _('Locked fields') }}</h1>#}
{#        {{ _('Fields marked with a thick gray border are used in automatic processing and cannot be modified.') | safe }}#}
{#        <hr>#}
{#        {% trans %}#}
{#        <h2>Subsystem description</h2>#}
{#        <p>#}
{#          Use <strong>simple language</strong> in the description and disclose:#}
{#        </p>#}
{#        <dl>#}
{#          <dt>What does the service offer?</dt>#}
{#          <dd>Explain how other organizations can benefit from your service. An overview of the service allows others to assess whether their organization should implement it.</dd>#}
{#          <dt>What terms apply to the use of the service?</dt>#}
{#          <dd>Describe who can use the service and any other restrictions on using the service.</dd>#}
{#          <dt>How to implement the service?</dt>#}
{#          <dd>Instruct how other organizations should proceed when they want to implement your service. Briefly describe the deployment process and provide a contact person for more information.</dd>#}
{#        </dl>#}
{#        <p>#}
{#          Using <strong>keywords</strong> and <strong>Markdown formatting</strong> makes it easier to find and read content.#}
{#        </p>#}
{#        <p>#}
{#          Also provide versions of the description in <strong>Finnish</strong> and <strong>Swedish</strong>.#}
{#        </p>#}
{#        <p>#}
{#          <i class="fas fa-arrow-right"></i> More detailed instructions in the <a target="_blank" href="https://palveluhallinta.suomi.fi/en/tuki/artikkelit/5ef313c79a155e0139629cb5">Palveluhallinta.fi support article.</a>#}
{#        </p>#}
{#        {% endtrans %}#}
{#      </div>#}
{#    </div>#}
{#  </section>#}
{% endblock %}

