{% ckan_extends %}

{% block page_heading %}

<span class="subheading">{{ _('Service bus identifier') }}:
  {% if h.is_service_bus_id(pkg.id) %}
  <span class="nowrap">{{ pkg.id }}</span>
  {% else %}
  -
  {% endif %}
</span>
{% endblock %}

{% block package_tags %}
  {% snippet "package/snippets/tags.html", tags=pkg.get('keywords', {}), field='keywords' %}
{% endblock %}

{% block package_resources %}
{% set interfaces = pkg.resources|selectattr('harvested_from_xroad')|list %}
{% set attachments = pkg.resources|rejectattr('harvested_from_xroad')|list %}
{% if interfaces %}
{% snippet "package/snippets/resources_list.html", pkg=pkg, resources=interfaces, title=_('Interfaces') %}
{% endif %}
{% if attachments %}
{% snippet "package/snippets/resources_list.html", pkg=pkg, resources=attachments, title=_('Attachments') %}
{% endif %}
{% endblock %}
