{% ckan_extends %}

{% block content_action %}
  {{ super() }}
  {% link_for _('Views'), named_route=pkg.type ~ '_resource.views', id=pkg.name, resource_id=res.id, class_='btn btn-default' %}
{% endblock %}
{% block primary_content %}
    <section id="main_content" class="module">
        <div class="module-content" style="width: 60%">
            {% block primary_content_inner %}
                <p class="control-required-message"><span>*&nbsp;</span>{{ _('Required field') }}</p>
                {{ super() }}
            {% endblock %}
        </div>
    </section>
{% endblock %}
{% block secondary_content %}
{% endblock %}
