{% ckan_extends %}

{% block resource_read_url %}
{% endblock %}

{% block resource_view %}
  <div class="hidden-xs"><div class="hidden-sm">
  {% block resource_view_nav %}
    {% set resource_preview = h.resource_preview(c.resource, c.package) %}
    {% snippet "package/snippets/resource_views_list.html",
       views=resource_views,
       pkg=pkg,
       is_edit=false,
       view_id=current_resource_view['id'],
       resource_preview=resource_preview,
       resource=c.resource,
       extra_class="nav-tabs-plain"
     %}
  {% endblock %}
  <div class="module-content">
    {% block resource_view_content %}
      <div class="resource-view">
        {% set resource_preview = h.resource_preview(c.resource, c.package) %}
        {% set views_created = res.has_views or resource_preview %}
        {% if views_created %}
          {% if resource_preview and not current_resource_view %}
            {{ h.resource_preview(c.resource, c.package) }}
          {% else %}
            {% for resource_view in resource_views %}
              {% if resource_view == current_resource_view %}
                {% snippet 'package/snippets/resource_view.html',
                   resource_view=resource_view,
                   resource=c.resource,
                   package=c.package
                 %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% else %}
          {# Views not created #}
          <div class="module-content data-viewer-info">
            <p>{{ _("There are no views created for this resource yet.") }}</p>
            {% if h.check_access('resource_view_create', {'resource_id': c.resource.id}) %}
              <p class="muted">
                <i class="icon-info-sign"></i>
                {{ _("Not seeing the views you were expecting?")}}
                <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-view-info">
                  {{ _('Click here for more information.') }}</a>
              </p>
              <div id="data-view-info" class="collapse">
                <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
                <ul>
                  <li>{{ _("No view has been created that is suitable for this resource")}}</li>
                  <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
                  <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}</li>
                </ul>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </div>
</div></div>
{% endblock %}


{% block resource_additional_information_inner %}
<div class="module-content">
  <h2>{{ _('Additional Information') }}</h2>
  <table class="table table-condensed" data-module="table-toggle-more">
    <tbody>
      <tr>
        <th scope="row">{{ _('Last updated') }}</th>
        <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
      </tr>
      <tr>
        <th scope="row">{{ _('Created') }}</th>
        <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
      </tr>
      <tr>
        <th scope="row">{{ _('Format') }}</th>
        <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
      </tr>
      <tr>
        <th scope="row">{{ _('License') }}</th>
        <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
      </tr>
      {% for key, value in h.format_resource_items(res.items()) %}
        <tr class="toggle-more"><th scope="row">{{ key }}</th><td>{{ value }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block resource_license %}
{% endblock %}
