{% ckan_extends %}

{% block prelude %}
<h1>{{ _('Datasets') }}</h1>
<div class="result-count">{{ _('{0} datasets').format(c.page.item_count) }}</div>
{% endblock %}

{% block form %}
{% endblock %}


{% block secondary_content %}
<section class="module main-heading">
    <h2 class="module-heading">{{ _('Filter search') }}</h2>
</section>
    <section class="module module-narrow module-shallow">
        <div class="module-content">
        {% snippet 'snippets/search_form_without_input.html', form_id='dataset-facet-search-form', type=dataset_type, query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search ' + dataset_type + 's') + '...', facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
        </div>
    </section>
{{ super()}}
{% endblock%}

 {% block package_search_results_list %}
 <div class="fill-module">
  {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
 </div>
{% endblock %}
