.banner-status {
    &.banner-status--info {
        color: $white;
        background-color: $suomifi-brand-base;
        padding: $gutterSmallY $gutterSmallX;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $gutterSmallY;
    }
}