.tags {
    margin-top: $margin-y__module-child;
    margin-bottom: $margin-y__module-child;

    .tag-list {
        padding: 0;
        margin: 0 (-$tag-gutter);
        display: flex;
        flex-wrap: wrap;

        li {
            margin: $tag-gutter;
            border-radius: 2rem;
            display: block;
            font-size: $font-size-base;
        }
    }
}
