{% block header_wrapper %}

  {% block header_language %}
    <header class="language-navbar hidden-xs">
      <div class="container">

          <div class="left">
            <div class="navbar-logo-text">
              <a href="{{ h.url('home') }}"><img class="lika-logo" src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ _('API Catalog') }}"></a>
            </div>
          </div>

          <div class="center">
            <form class="search-form header-search" method="get" action="{{ h.url('search') }}">
            <div class="search-input control-group">
              <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="{{ _('Search API Catalog') }}" />
              <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            </form>
            {% snippet 'home/snippets/apicatalog_language-changer.html' %}
          </div>
          <div class="right">
            {% snippet 'home/snippets/apicatalog_profile.html' %}
          </div>
      </div>
    </header>
  {% endblock %} {# /header_language #}

  {% block header_account %}
    <div class="navbar-wrapper">
      <nav class="navbar navbar-default main-navbar" data-spy="affix" data-offset-top="80">
        {% block header_debug %}
          {% if g.debug and not g.debug_supress_header %}
            <div class="debug">Controller : {{ c.controller }}<br>Action : {{ c.action }}</div>
          {% endif %}
        {% endblock %}
        <div class="container">
          <div class="logo-row">
            <div class="navbar-logo-text visible-xs">
              <a href="{{ h.url('home') }}"><img class="lika-logo" src="/base/images/lika-logo.svg" alt="{{ _('API Catalog') }}"></a>
            </div>

            <button type="button" class="navbar-toggle collapsed placeright" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only navbar-hamburger">Toggle navigation</span>
                <span class="icon-bar navbar-hamburger"></span>
                <span class="icon-bar navbar-hamburger"></span>
                <span class="icon-bar navbar-hamburger"></span>
                <span class="fal fa-times navbar-cross hidden"></span>
            </button>

          </div>
          <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav main-navigation">
              {% block header_site_navigation_tabs %}
                  {% set current_lang = request.environ.CKAN_LANG %}
                  {% set lang_code = 'en' if current_lang == 'en_GB' else current_lang %}
                {{ h.build_nav('home', _('Home')) }}
                {{ h.build_nav('search', _('Datasets')) }}
                {{ h.build_nav('organizations_index', _('Organizations')) }}
                <li><a class="nav-external-link" href="https://palveluhallinta.suomi.fi/{{ lang_code }}/sivut/palveluvayla/esittely" target="_blank">{{ _('Information about National Data Exchange Layer') }}
                  <svg viewbox="0 0 24 24">
                    <use xlink:href="/base/images/external-link-icon.svg#path-1"></use>
                  </svg></a></li>

                  {% set submenu_content = h.get_submenu_content() %}
                  {% if submenu_content | length > 0 %}
                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ _('More options') }}<span class="caret"></span></a>
                       <ul class="dropdown-menu">
                           {% for page in submenu_content %}
                               {% set type_ = 'blog' if page['page_type'] == 'blog' else 'pages' %}
                            <li>{{ h.literal('<a href="/{}/{}">{}</a>'.format(type_, page.name, page.title)) }}</li>
                           {% endfor %}
                       </ul>
                  </li>
                  {% endif %}
                {% if c.userobj %}
                  {% snippet 'home/snippets/apicatalog_profile_items.html', class="visible-xs" %}
                {% else %}
                  <li class="visible-xs">{% link_for _('Log in'), controller='user', action='login', icon='signin' %}</li>
                  {% if h.check_access('user_create') %}
                    <li class="visible-xs">{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
                  {% endif %}
                {% endif %}
              {% endblock %}
            </ul>

          </div>
        </div> <!-- /.container -->
      </nav>
    </div>
  {% endblock %} {# header_account #}

{% endblock %} {# header_wrapper #}
