{% block header_wrapper %}

  {% block header_language %}
    <header class="language-navbar">
      <div class="container">

          <div class="hidden-sm support-sites-label">
            <span class="hidden-xs">Suomi.fi {{ _('Support and administration sites') }}</span>
          </div>

          <ul class="nav navbar-nav">
            <li class="pull-left">
              {% snippet 'home/snippets/apicatalog_language-changer.html' %}
            </li>
            <li class="pull-right">
              {% snippet 'home/snippets/apicatalog_profile.html' %}
            </li>
          </ul>

      </div>
    </header>
  {% endblock %} {# /header_language #}

  {% block header_account %}
    <nav class="navbar navbar-default main-navbar" data-module="sticky-header">
      {% block header_debug %}
        {% if g.debug and not g.debug_supress_header %}
          <div class="debug">Controller : {{ c.controller }}<br>Action : {{ c.action }}</div>
        {% endif %}
      {% endblock %}
      <div class="container">
        <div class="centered">
          <div class="logo-row">

            <div id="navbar-logo-text">
              <a href="{{ h.url('home') }}">{{ _('API Catalog') }}</a>
              <span class="beta">BETA</span>
            </div>

            <button type="button" class="navbar-toggle collapsed placeright" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>
          <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav main-navigation">
              {% block header_site_navigation_tabs %}
                {{ h.build_nav('search', _('Datasets')) }}
                {{ h.build_nav('organizations_index', _('Organizations')) }}
              {% endblock %}
            </ul>

            <div class="placeright-sm-up">
              <ul class="nav navbar-nav">
                  {{ h.build_nav_main() }}
                  {{ h.build_nav('contact_form', _('Feedback')) }}
              </ul>
            </div> <!-- /.pull-right -->

          </div>
        </div>
      </div> <!-- /.container -->
    </nav>
  {% endblock %} {# header_account #}

{% endblock %} {# header_wrapper #}
