{% ckan_extends %}

{% block footer_content %}
  <div class="row">
    <div class="footer-links col-sm-8 col-md-8">
      {% block footer_nav %}
        <ul class="list-unstyled">
          {% block footer_links %}
            <li><a href="http://esuomi.fi">{{ _('eSuomi.fi, a channel of communication for the National Data Exchange Layer') }}</a></li>
            <li><a href="https://github.com/vrk-kpa/api-catalog">{{ _('API Catalog source code on GitHub')}}</a></li>
          {% endblock %}
        </ul>
        <ul class="list-unstyled">
          {% block footer_links_ckan %}
          {% endblock %}
        </ul>
      {% endblock %}
    </div>
    <div class="attribution col-sm-4 col-md-4">
      {% block footer_attribution %}
        <p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
      {% endblock %}
    </div>
  </div>
{% endblock %}
