{% block footer %}
	<footer>
		<div class="footer-top clearfix">
			<div class="col-xs-12 col-sm-6 col-lg-7">
				<img src="/base/images/lika-logo.png">
				<p class="footer-description">{{_('The service is being developed by the Population Register Centre.')}}</p>
			</div>
			<div class="footer-top-links col-xs-12 col-sm-6 col-lg-5">
				<a class="external-link" href="https://github.com/vrk-kpa/api-catalog">{{ _('API Catalog source code')}}
					<svg viewbox="0 0 24 24">
						<use xlink:href="/base/images/external-link-icon.svg#path-1"></use>
					</svg>
				</a>
			</div>
		</div>
		<div class="footer-bottom clearfix">
			<div class="col-xs-12 col-sm-6 col-sm-offset-6 col-lg-5 col-lg-offset-7">
				<div class="footer-bottom-link-container"><img src="/base/images/twitter-icon.png"/>
					<a href="https://twitter.com/suomifiyritys">
						{{ _('@Suomifiyritys') }}
					</a>
				</div>
				<div class="footer-bottom-link-container"><img src="/base/images/facebook-icon.png"/>
					<a href="https://www.facebook.com/Suomifiyritykselle">
						{{ _('@Suomifiyritykselle') }}
					</a>
				</div>
			</div>
		</div>

		{% block footer_debug %}
			{% if g.debug %}
				{% include 'snippets/debug.html' %}
			{% endif %}
		{% endblock %}
	</footer>
{% endblock %}
