{% block header_wrapper %}

  {% block header_language %}
    <header class="language-navbar">
      <div class="container">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-left">
              <li>{% snippet 'home/snippets/kapa-language-changer.html' %}</li>
          </ul>
          <ul class="nav navbar-nav navbar-right hidden-xs">
            <li class="informational-text">
              <div>Suomi.fi <span style="text-transform: lowercase">{{ _('Support and administration sites') }}</span></div>
            </li>
          </ul>
        </div>
      </div>
    </header>
  {% endblock %} {# /header_language #}

  {% block header_account %}
    <nav class="navbar navbar-default main-navbar">
      {% block header_debug %}
        {% if g.debug and not g.debug_supress_header %}
          <div class="debug">Controller : {{ c.controller }}<br>Action : {{ c.action }}</div>
        {% endif %}
      {% endblock %}

      <div class="container">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="navbar-logo-text">
              <a href="{{ h.url('home') }}">{{ _('API Catalog') }}</a>
              <span class="beta">Beta</span>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="navigation">
                  <ul class="nav navbar-nav">
                    {% block header_site_navigation_tabs %}
                      {{ h.build_nav_main(
                        ('search', _('Datasets')),
                        ('organizations_index', _('Organizations')),
                        ('group_index', _('Groups'))
                        ) }}
                    {% endblock %}
                  </ul>
              </li>
              <li class="pull-right">
                <div class="account">
                  <ul class="nav navbar-nav">
                    {% block header_account_container_content %}
                      {% if c.userobj %}
                        {% block header_account_loggedd %}
                          {% set new_activities = h.new_activities() %}
                          <li class="dropdown" id="profile">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=18) }}
                              <span class="username">{{ c.userobj.name}}</span>
                              <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                              <li>
                                <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                                  {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                                  <span class="username">{{ c.userobj.name}}</span>
                                </a>
                              </li>
                              <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                                {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                                <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                                  <span class="text">{{ _('Dashboard') }}</span>
                                  <span class="badge">{{ new_activities }}</span>
                                </a>
                              </li>
                              {% block header_account_logged %}
                              {% endblock %}
                              {% if c.userobj.sysadmin %}
                                <li>
                                  <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                                    <i class="icon-legal" aria-hidden="true"></i>
                                    <span class="text">{{ _('Admin') }}</span>
                                  </a>
                                </li>
                              {% endif %}
                            </ul>
                          </li>

                          {% block header_account_log_out_link %}
                            <li class="active logout">
                              <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                                <i class="icon-signout" aria-hidden="true"></i>
                                <span>{{ _('Log out') }}</span>
                              </a>
                            </li>
                          {% endblock %} {# /header_account_log_out_link #}
                        {% endblock %} {# /header_account_logged #}
                      {% else %}
                        {% block header_account_notlogged %}
                          <li>{% link_for _('Log in'), controller='user', action='login', icon='signin' %}</li>
                          {% if h.check_access('user_create') %}
                            <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
                          {% endif %}
                        {% endblock %} {# header_account_notlogged #}
                      {% endif %} {# /if c.userobj #}
                    {% endblock %} <!-- header_account_container_content -->
                  </ul> <!-- /.nav.navbar-nav -->
                </div> <!-- /.account -->
              </li> <!-- /.pull-right -->
            </ul> <!--navbar-nav-->
          </div> <!-- /.navbar-collapse -->
        </div> <!-- /.container-fluid -->
      </div> <!-- /.container -->
    </nav>
  {% endblock %} {# header_account #}
{% endblock %} {# header_wrapper #}
