{% ckan_extends %}

{% block primary %}
	<div class="row">
		<div class="col-sm-8">
			{% block organization_description %}
				{% if c.group_dict.description %}
					{{ h.render_markdown(h.get_translated(c.group_dict, 'description')) }}
				{% endif %}
			{% endblock %}
			{% block organization_extras %}
                {% if c.group_dict['email_address_translated'] or c.group_dict['webpage_address']
                        or c.group_dict['street_address'] or c.group_dict['postal_address']
                        or c.group_dict['phone_number'] %}
                    <h2>{{ _('Contact Information') }}</h2>
                    <dl>

                        {% if c.group_dict['email_address_translated'] %}
                            {% set field = h.scheming_field_by_name(c.scheming_fields, 'email_address_translated') %}
                            <dt>{{ h.scheming_language_text(field.label) }}:</dt>
                            <dd>{%- snippet 'scheming/snippets/display_field.html',
              field=field, data=c.group_dict, schema=schema -%}</dd>
                        {% endif %}

                        {% if c.group_dict['webpage_address'] %}
                            {% set field = h.scheming_field_by_name(c.scheming_fields, 'webpage_address') %}
                            <dt>{{ h.scheming_language_text(field.label) }}:</dt>
                            <dd>{%- snippet 'scheming/snippets/display_field.html',
              field=field, data=c.group_dict, schema=schema -%}</dd>
                        {% endif %}

                        {% if c.group_dict['street_address'] %}
                            {% set field = h.scheming_field_by_name(c.scheming_fields, 'street_address') %}
                            <dt>{{ h.scheming_language_text(field.label) }}:</dt>
                            <dd>{%- snippet 'scheming/snippets/display_field.html',
              field=field, data=c.group_dict, schema=schema -%}</dd>
                        {% endif %}

                        {% if c.group_dict['postal_address'] %}
                            {% set field = h.scheming_field_by_name(c.scheming_fields, 'postal_address') %}
                            <dt>{{ h.scheming_language_text(field.label) }}:</dt>
                            <dd>{%- snippet 'scheming/snippets/display_field.html',
              field=field, data=c.group_dict, schema=schema -%}</dd>
                        {% endif %}

                        {% if c.group_dict['phone_number'] %}
                            {% set field = h.scheming_field_by_name(c.scheming_fields, 'phone_number') %}
                            <dt>{{ h.scheming_language_text(field.label) }}:</dt>
                            <dd>{%- snippet 'scheming/snippets/display_field.html',
              field=field, data=c.group_dict, schema=schema -%}</dd>
                        {% endif %}
                    </dl>
                {% endif %}
                {% if c.group_dict['xroad_instance'] or c.group_dict['xroad_memberclass']
                        or c.group_dict['xroad_membercode'] %}
                    <dl>
                    <h2>{{ _('X-Road related information') }}</h2>

                        {% if c.group_dict['xroad_instance'] %}
                            {% set field = h.scheming_field_by_name(c.scheming_fields, 'xroad_instance') %}
                            <dt>{{ h.scheming_language_text(field.label) }}:</dt>
                            <dd>{%- snippet 'scheming/snippets/display_field.html',
              field=field, data=c.group_dict, schema=schema -%}</dd>
                        {% endif %}

                        {% if c.group_dict['xroad_memberclass'] %}
                            {% set field = h.scheming_field_by_name(c.scheming_fields, 'xroad_memberclass') %}
                            <dt>{{ h.scheming_language_text(field.label) }}:</dt>
                            <dd>{%- snippet 'scheming/snippets/display_field.html',
              field=field, data=c.group_dict, schema=schema -%}</dd>
                        {% endif %}

                        {% if c.group_dict['xroad_membercode'] %}
                            {% set field = h.scheming_field_by_name(c.scheming_fields, 'xroad_membercode') %}
                            <dt>{{ h.scheming_language_text(field.label) }}:</dt>
                            <dd>{%- snippet 'scheming/snippets/display_field.html',
              field=field, data=c.group_dict, schema=schema -%}</dd>
                        {% endif %}
                    </dl>
                {% endif %}
                {% if c.group_dict['company_type']
                   or c.group_dict['company_language']
                   or c.group_dict['company_registeration_date']
                   or c.group_dict['data_processing_outside_eu']
                   or c.group_dict['is_intermediary'] %}
                <h2>{{ _('Additional information') }}</h2>
                <dl>


                    {% if c.group_dict['company_type'] %}
                        {% set field = h.scheming_field_by_name(c.scheming_fields, 'company_type') %}
                        <dt>{{ h.scheming_language_text(field.label) }}:</dt>
                        <dd>{%- snippet 'scheming/snippets/display_field.html',
          field=field, data=c.group_dict, schema=schema -%}</dd>
                    {% endif %}

                    {% if c.group_dict['company_language'] %}
                        {% set field = h.scheming_field_by_name(c.scheming_fields, 'company_language') %}
                        <dt>{{ h.scheming_language_text(field.label) }}:</dt>
                        <dd>{%- snippet 'scheming/snippets/display_field.html',
          field=field, data=c.group_dict, schema=schema -%}</dd>
                    {% endif %}

                    {% if c.group_dict['company_registeration_date'] %}
                        {% set field = h.scheming_field_by_name(c.scheming_fields, 'company_registeration_date') %}
                        <dt>{{ h.scheming_language_text(field.label) }}:</dt>
                        <dd>{%- snippet 'scheming/snippets/display_field.html',
          field=field, data=c.group_dict, schema=schema -%}</dd>
                    {% endif %}

                    {% if c.group_dict['data_processing_outside_eu'] %}
                        {% set field = h.scheming_field_by_name(c.scheming_fields, 'data_processing_outside_eu') %}
                        <dt>{{ h.scheming_language_text(field.label) }}:</dt>
                        <dd>{%- snippet 'scheming/display_snippets/multiple_choice.html',
          field=field, data=c.group_dict, schema=schema -%}</dd>
                    {% endif %}

                    {% if c.group_dict['is_intermediary'] %}
                        {% set field = h.scheming_field_by_name(c.scheming_fields, 'is_intermediary') %}
                        <dt>{{ h.scheming_language_text(field.label) }}:</dt>
                        <dd>{%- snippet 'scheming/display_snippets/multiple_choice.html',
          field=field, data=c.group_dict, schema=schema -%}</dd>
                    {% endif %}

                </dl>
                {% endif %}
			{% endblock %}
		</div>
		<div class="col-sm-4">
            {% if c.group_dict['image_display_url'] %}
                <img src="{{c.group_dict.image_display_url}}" alt="{{ _('Logo of organization {org}').format(org=h.get_translated(c.group_dict, 'title')) }}"/>
            {% endif %}
        </div>
	</div>
{% endblock %}
