{% extends "organization/read_base.html" %}

{% block page_primary_action %}
  {{ super() }}
{% endblock %}


{% block primary_content_inner %}
<div class="org-page-heading flex-container">
  <div class="flex-right">
    {% if h.check_access('package_create', {'owner_org': group_dict.id}) %}
      {% snippet 'snippets/add_dataset.html', group=group_dict.id %}
    {% endif %}
  </div>
  <h2 class="flex">{{ _('Datasets') }}</h2>
</div>
<p class="block">{{_('List of organization\'s subsystems')}}</p>
<div class="sorter-wrapper">
  {% set pkg_count = group_dict.package_count %}
  {% set no_title = True if not q else False %}
  {% snippet 'snippets/search_form.html', query=q, type='dataset', count=pkg_count, no_title=no_title  %}
</div>
{% block groups_search_form %}{% endblock %}
{% block packages_list %}
  {% if page.items %}
    {{ h.snippet('snippets/package_list.html', packages=page.items) }}
  {% else %}
    <p class="empty">
      {{ _('There are currently no APIs for this organization') }}.
      {% if h.check_access('package_create') %}
          {% snippet 'snippets/add_dataset.html', group=group_dict.id %}
      {% endif %}
    </p>
  {% endif %}
{% endblock %}
{% block page_pagination %}
  {% set symbol_next %}
    <span aria-hidden='true'>»</span><span class='sr-only'>{{ _('Next') }}</span>
  {% endset %}
  {% set symbol_previous %}
    <span aria-hidden='true'>«</span><span class='sr-only'>{{ _('Previous') }}</span>
  {% endset %}
  {{ page.pager(q=q, link_attr={'aria-label': _('Go to page'), 'class': 'page-link'}, symbol_next=symbol_next, symbol_previous=symbol_previous) }}
{% endblock %}
{% endblock %}

{% block primary %}
    {{super()}}
{% endblock %}

