{#
Renders a media item for a organization. This should be used in a list.

organization - A organization dict.

Example:

    <ul class="media-grid">
      {% for organization in organizations %}
        {% snippet "organization/snippets/organization_item.html", organization=organization %}
      {% endfor %}
    </ul>
#}
{% set url = h.url_for(organization.type ~ '_read', action='read', id=organization.name) %}

{% block item %}
<li class="list-group-item kapa-item">
  <div class="media">
  {% block item_inner %}
  {% block image %}
  {% endblock %}
  <div class="media-body">
  {% block title %}
    <div class="media-heading">
      <a href="{{ url }}" title="{{ _('View {organization_name}').format(organization_name=organization.display_name) }}">
        {{ organization.display_name }}
      </a>
    </div>
  {% endblock %}
  {% block description %}
    {% if organization.description %}
      <p class="description">{{ h.markdown_extract(organization.description, extract_length=400) }}</p>
    {% endif %}
  {% endblock %}
  {% block datasets %}
    {% if organization.package_count %}
      <span class="count">{{ ungettext('{num} Dataset', '{num} Datasets', organization.package_count).format(num=organization.package_count) }}</span>
    {% else %}
      <span class="count">{{ _('Consumes data available via the Suomi.fi-Data Exchange Layer.') }}</span>
    {% endif %}
  {% endblock %}

  </div>
  {% block link %}
  {% endblock %}

</div>
  {% endblock %}
</li>
{% endblock %}
