{% extends 'snippets/search_form_without_title.html' %}

{% block search_input %}
  {{ super() }}
  <label for="apis-selection">{{ _('Show only service providers') }}</label>
  <div>
  {% if request.params.provider_orgs %}
      <a name="apis-selection" href="{{ h.url_for(controller='organization', action='index', q=c.q, sort=sorting_selected) }}">
          {{ _('Show organizations without APIs') }}
      </a>
      <input type="hidden" name="provider_orgs" value="True"></input>
  {% else %}
      <a name="apis-selection" href="{{ h.url_for(controller='organization', action='index', q=c.q, sort=sorting_selected, provider_orgs=True) }}">
          {{ _('Show only service providers') }}
      </a>
  {% endif %}
  </div>
{% endblock %}
