{% import 'macros/form.html' as form %}

{% set read_endpoint = '.read' if h.ckan_version() > '2.9' else '_read' %}
{%- set controller = 'organization' -%}
{%- set module_placeholder = '<organization>' -%}
{%- set prefix = h.url_for(object_type + read_endpoint, id='') -%}
{%- set domain = h.url_for(object_type + read_endpoint, id='', qualified=true) -%}
{%- set domain = domain|replace("http://", "")|replace("https://", "") -%}

<div class="form-group control-full">
    <label class="control-label group-label">{{ _(field.label) }}</label>
    <div class="controls">
            {%- if field.additional_description is not none -%}
                <p>{{ _(field.additional_description) }}</p>
            {%- endif -%}
            <div class="slug-preview">
                <span style="margin-left: -15px;" class="slug-preview-prefix">{{ domain + '' + data['name']}}</span>
            </div>
    </div>
</div>
<hr/>
