{% import 'macros/form.html' as form %}

{%- set url = data['url']|replace("http://", "")|replace("https://", "") -%}

<div class="form-group control-full">
    <label class="control-label group-label">{{ _(field.label) }}</label>
    <div class="controls">
            {%- if field.additional_description is not none -%}
                <p>{{ _(field.additional_description) }}</p>
            {%- endif -%}
            {%- if field.show_url and 'name' in data -%}
                <div class="slug-preview">
                    <span class="slug-preview-prefix">{{ url }}</span>
                </div>
            {%- endif -%}
    </div>
    <hr/>
</div>
