.dataset-list {
  padding: 0px;
  @include box();
}

.dataset-item {
  font-size: 16px;
  border-bottom: 1px solid $suomifi-border;

  & .dataset-heading > a:hover {
    text-decoration: underline !important;
  }

  &,
  a,
  a:visited {
    color: $suomifi-highlight-base;
  }

  & .container-fluid {
    padding: 10px 15px;
  }
}

@include media-breakpoint-down(sm) {
  .dataset-item {
    word-wrap: break-word;
  }
}



.dataset-content {
  color: $suomifi-text-base;
}

.dataset-heading {
  color: $suomifi-highlight-base;
  font-size: 22px;
  font-weight: 600;
  margin: 5px 0;
  line-height: 1.3;
}


.dataset-resources li {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;

  &:last-of-type {
    margin-right: 0;
  }
}

.dataset-resources {
  background-color: $resourceFormatBackground;
}

.dataset__subsystem-information {
  margin-top: $margin-y__module-child;
  margin-bottom: $margin-y__module-child;
}

.resources {
  margin-top: $margin-y__module-child;
  margin-bottom: $margin-y__module-child;
  background-color: white;
}

// Resource List

.resource-list {
  @include list-unstyled;
  border: 1px solid $suomifi-border;
  border-top: 2px solid $suomifi-highlight-base;
  border-radius: 2px;
  margin: 1rem 0;
}

.resource-item {
  background-color: $white;
  padding: 0;

  &:hover {
    background-color: $white;
  }

  &:nth-child(even) {
    background-color: $suomifi-striped-background;
    &:hover {
      background-color: $suomifi-striped-background;
    }
  }

  position: relative;
  margin-bottom: 0px;

  a,
  a:visited,
  a:focus {
    color: $suomifi-highlight-base;
    text-decoration: none;
  }

  .resource-title {
    color: $suomifi-highlight-base;
    font-family: $font-family-base;
    font-size: 16px;
    line-height: 24px;
  }

  .resource-download {
    color: $suomifi-highlight-base;
    font-family: $headings-font-family;
    font-size: 16px;
    line-height: 24px;
  }

  .description {
    color: rgb(41, 41, 41);
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
  }
}

.resource-item {
  .col-xs-9,
  .col-xs-3{
    .container-fluid {
      padding: 20px 20px 20px 60px;
      p {
        font-weight: normal;
        $font-size: $font-size-base;
        @include multiline-ellipsis(1);
      }

      &.resource-download {
        padding: 20px;
      }
    }
  }
}



.resource-item .dropdown {
  margin-top: 30px;
}
.resource-item .caret {
  zoom: 2;
  display: inline-block;
  float: right;
}

.resource-item .format-label {
  position: absolute;
  top: 20px;
  left: 20px;
}

.resource-item .description {
  font-size: $font-size-base;
  word-wrap: break-word;

  margin-bottom: 0;
  min-height: 12px;
}


// Dataset Forms

// Tag List

.tags {
  span {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
    display: inline-block;
  }
}

.tag-list {
  @include list-unstyled;
  padding: 10px 10px 5px 10px;
}

.tag-list li {
  padding: 0px 10px 2px 10px;

  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
  background-color: $suomifi-highlight-base;
  border-radius: 14px;
  border: 2px solid $suomifi-highlight-base;

  a {
    color: $white;
    text-decoration: none;
  }

  &:hover {
    background-color: transparent;
    a {
      color: $kapa-black;
    }
  }
}



// Additional Info

.additional-info {
  margin-top: $margin-y__module-child;
  margin-bottom: $margin-y__module-child;

  table {
    border: 1px solid $suomifi-border;

    font-size: 16px;

    th {
      font-family: $headings-font-family;
      width: 50%;
    }

    td {
      font-family: $font-family-base;
      width: 50%;
    }

    tr > th,
    tr > td {
      padding: $padding-y__table-cell $padding-x__table-cell;
    }

    tbody tr:nth-child(even) {
      background-color: $suomifi-striped-background;
    }
  }
}

// FORMATS

.badge {
  color: $white;
  background-color: $kapa-dark-grey;
  padding: 0.6em 0.6em 0.3em;
  &[data-format] {
    background-color: $resourceFormatBackground;
  }
}
.badge-inverse {
  color: $kapa-black;
  background-color: $kapa-light-grey;
}
.dataset-private {
  background-color: $privateDatasetColor;
}


.resource-view {
  background-color: white;
  border: 1px solid $suomifi-border-light;
}

.secondary.resource-sidebar {
  border: 0;
  .module.resources {
    border: 0;
    margin-left: -20px;

    h2 {
      color: rgb(41, 41, 41);
      font-family: SourceSansPro-SemiBold;
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      padding-left: 30px;
      i {
        display: none;
      }
    }

    .nav-item {
      font-family: SourceSansPro-SemiBold;
      font-size: 18px;
      font-weight: 600;
      height: 52px;
      line-height: 27px;
      a,
      a:visited {
        padding-left: 5px;
        margin: 0 auto;
        color: rgb(42, 110, 187);
      }
      a:hover {
        background: transparent;
      }
      &.active {
        border-left: 5px solid $suomifi-highlight-base;
        background: rgb(240, 246, 255);
        a {
          padding-left: 0px;
          background: transparent;
        }
      }

      &:hover{
        background: rgb(240, 246, 255)
      }
    }

    .attachments-list {
      .nav-item {
        a {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

.dataset-collapsible {
  width: 100%;
  text-align: left;
  font-size: 18px;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  height: 27px;
  line-height: 27px;
  color: $suomifi-highlight-base;
}

.dataset-collapsible-content {
  padding: 5px 10px;
  display: none;
  color: $suomifi-text-base;
  font-family: $font-family-base;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
}

.api-catalog-group-title {
  color: $suomifi-text-base;
  font-family: $headings-font-family;
  font-size: 22px;
  font-weight: $headings-font-weight;
  line-height: 28px;
}

.api-catalog-required-field {
  color: $suomifi-text-highlight;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: normal;
  line-height: 24px;
}

.api-catalog-group-description {
  color: $suomifi-text-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: normal;
  line-height: 24px;
}

.readonly {
  background-color: #f7f7f8;
  border: 1px solid $suomifi-border;
  width: 100%;
}

.api-catalog-pill {
  color: $white;
  background-color: $suomifi-highlight-dark;
  border-radius: 14px;
  height: 24px;
  font-family: $headings-font-family;
  font-size: $font-size-base;
  font-weight: 600;
}

.suomifi-button-secondary-noborder {
  background-color: $white;
  color: $suomifi-highlight-base;
  font-family: $headings-font-family;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 12px;
  margin: 1px 0;
  letter-spacing: 0.4px;
  line-height: 20px;
  text-align: center;

  &:hover {
    color: $suomifi-highlight-base;
    background: rgba(0, 0, 0, 0) linear-gradient(-180deg, rgb(236, 237, 238) 0%, rgba(255, 255, 255, 0) 100%) repeat scroll 0% 0%;
  }
  &:visited {
    color: $suomifi-highlight-base;
  }
}

.organization-block {
  display: none;
}

.field-private-block {
  display: none;
}

.form-actions {
  .action-info {
    margin: 0;
  }
}

.wrapper.dataset-edit {
  @include box();
  background-color: $white;

  .module {
    margin-left: 0;
    margin-right: 0;
    padding-right: 10px;

    .dataset-form {
      padding-top: 0;
    }

    &.module-narrow.module-shallow {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .secondary {
    border: none;
  }
}
