@import "mixins";

.kapa-item {
  &:first-child {
    margin-top: 10px;
  }
  .media-body {
    padding-left: 10px;
  }
  p {
    height: unset;
  }
  input {
    position: absolute;
    top: 0;
    right: 0
  }
}

.media-heading {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  margin: 5px 0;
  margin-right: 50px; // To prevent overlap with `.kapa-item input`
  @include break-word();

  & > a:hover {
    text-decoration: underline;
  }
}

// Overlay

.kapa-image-wrapper {
  max-height:175px;
  max-width:100%;
  overflow:hidden;
  & img {
    width:200px;
  }
}
