@use "variables" as apicatalog;
@use "sass:color";

@mixin break-word {
  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@mixin border-radius($size) {
  border-radius: $size;
}

@mixin multiline-ellipsis($lines, $width: 100%, $line-height: $line-height-computed){
  display: inline-block;
  width: $width;
  height: ($line-height * $lines);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines; // max nb lines to show
  -webkit-box-orient: vertical;
}

@mixin box {
  background-color: $white;
  border: 1px solid $layoutTrimBorderColor;
  border-radius: 0;
}

// Unstyled keeps list items block level, just removes default browser padding and list-style
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

@mixin btn-primary {
  --bs-btn-bg: #{apicatalog.$btn-primary-bg};
}

@mixin btn-secondary {
  --bs-btn-bg: #{apicatalog.$btn-secondary-bg};
  --bs-btn-color: #{apicatalog.$btn-secondary-color};
  --bs-btn-border-color: #{apicatalog.$btn-secondary-border};
  --bs-btn-hover-bg: #{color.scale(apicatalog.$btn-secondary-bg, $lightness: -10%)};
  --bs-btn-hover-color: #{apicatalog.$btn-secondary-color};
  --bs-btn-hover-border-color: #{color.scale(apicatalog.$btn-secondary-border, $lightness: -35%)};
  --bs-btn-active-bg: #{color.scale(apicatalog.$btn-secondary-bg, $lightness: -10%)};
  --bs-btn-active-color: #{apicatalog.$btn-secondary-color};
  --bs-btn-active-border-color: #{color.scale(apicatalog.$btn-secondary-border, $lightness: -35%)};
  --bs-btn-focus-bg: #{color.scale(apicatalog.$btn-secondary-bg, $lightness: -10%)};
  --bs-btn-focus-color: #{apicatalog.$btn-secondary-color};
  --bs-btn-focus-border-color: #{color.scale(apicatalog.$btn-secondary-border, $lightness: -65%)};
}
