.modal-content {
  border-top: 4px solid $suomifi-highlight-base;
  border-radius: 4px;
}
.modal-header {
  border-bottom: none;
}

.modal-body {
  padding-top: 0;
  padding-bottom: 0;
}

.modal-footer {
  text-align: left; // left align buttons
  border-top: none;
}
