@import "variables";

h1,
.visual-h1 {
  font-family: 'SourceSansPro-Light';
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
}

h2,
.visual-h2 {
  font-family: $headings-font-family;
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
}

h3,
.visual-h3 {
  font-family: $headings-font-family;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
}

h4,
.visual-h4 {
  font-family: $headings-font-family;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

h5,
.visual-h5 {
  font-family: $headings-font-family;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  small,
  .small {
    color: $headings-small-color;
  }
}