[submodule "ckanext/ckanext-scheming"]
	path = ckanext/ckanext-scheming
	url = https://github.com/vrk-kpa/ckanext-scheming.git
[submodule "ckanext/ckanext-fluent"]
	path = ckanext/ckanext-fluent
	url = https://github.com/open-data/ckanext-fluent.git
[submodule "ckanext/ckanext-pages"]
	path = ckanext/ckanext-pages
	url = https://github.com/ckan/ckanext-pages.git
[submodule "ckanext/ckanext-contact"]
	path = ckanext/ckanext-contact
	url = https://github.com/vrk-kpa/ckanext-contact.git
[submodule "ckanext/ckanext-harvest"]
	path = ckanext/ckanext-harvest
	url = https://github.com/vrk-kpa/ckanext-harvest.git
[submodule "ckanext/ckanext-xroad_integration"]
	path = ckanext/ckanext-xroad_integration
	url = https://github.com/vrk-kpa/ckanext-xroad_integration.git
[submodule "ckanext/ckanext-openapiviewer"]
	path = ckanext/ckanext-openapiviewer
	url = https://github.com/vrk-kpa/ckanext-openapiviewer.git
[submodule "ckanext/ckanext-forcetranslation"]
	path = ckanext/ckanext-forcetranslation
	url = https://github.com/vrk-kpa/ckanext-forcetranslation.git
[submodule "ckanext/ckanext-sentry"]
	path = ckanext/ckanext-sentry
	url = https://github.com/vrk-kpa/ckanext-sentry.git
[submodule "ckanext/ckanext-markdown_editor"]
	path = ckanext/ckanext-markdown_editor
	url = https://github.com/vrk-kpa/ckanext-markdown_editor
[submodule "ckanext/ckanext-sitesearch"]
	path = ckanext/ckanext-sitesearch
	url = https://github.com/vrk-kpa/ckanext-sitesearch
