[submodule "ckanext/ckanext-scheming"]
	path = ckanext/ckanext-scheming
	url = https://github.com/open-data/ckanext-scheming.git
[submodule "ckanext/ckanext-fluent"]
	path = ckanext/ckanext-fluent
	url = https://github.com/open-data/ckanext-fluent.git
[submodule "ckanext/ckanext-pages"]
	path = ckanext/ckanext-pages
	url = https://github.com/vrk-kpa/ckanext-pages.git
[submodule "ckanext/ckanext-contact"]
	path = ckanext/ckanext-contact
	url = https://github.com/vrk-kpa/ckanext-contact.git
[submodule "ckanext/ckanext-harvest"]
	path = ckanext/ckanext-harvest
	url = https://github.com/ckan/ckanext-harvest.git
