{% block footer %}
{% set current_lang = request.environ.CKAN_LANG %}
{% set lang_code = 'en' if current_lang == 'en_GB' else current_lang %}
	<footer>
		<div class="footer-top clearfix">
			<div class="container">
				<div class="col-xs-12 col-sm-4 col-lg-3">
					<img class="lika-logo" src="/base/images/lika-logo.svg" alt="{{ _('API Catalog') }}">
					<p class="footer-description">{{_('The service is being developed by the Digital and Population Data Services Agency.')}}</p>
				</div>
				<div class="footer-top-links col-xs-12 col-sm-8 col-lg-9">
					<ul class="nav navbar footer-nav">
						{{ h.build_nav_main() }}
						<li><a href="{{'https://palveluhallinta.suomi.fi/%s/sivut/palveluvayla/palvelukuvaus/tietosuoja' % lang_code}}" target="_blank">{{_('Privacy statement')}}&nbsp;<i class="fal fa-external-link"></i></a></li>
						{{ h.build_nav('contact.form', _('Give feedback')) }}
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="footer-bottom-links col-xs-12">
					<div class="footer-bottom-link-container">
						<a href="https://x.com/suomifi">
							<span class="fab fa-x-twitter"></span>{{_('@suomifi')}}
						</a>
					</div>
					<div class="footer-bottom-link-container">
						<a href="https://www.facebook.com/suomifi">
							<span class="fab fa-facebook-square"></span>{{_('@Suomi.fi')}}
						</a>
					</div>
					<div class="footer-bottom-link-container">
						<a href="https://github.com/vrk-kpa/api-catalog">
							<span class="fab fa-github"></span>@vrk-kpa/api-catalog
						</a>
					</div>
				</div>
			</div>
		</div>

		{% block footer_debug %}
			{% if g.debug %}
				{% include 'snippets/debug.html' %}
			{% endif %}
		{% endblock %}
	</footer>
{% endblock %}
