{% extends "base.html" %}

{% set no_nav = self.secondary_content()|trim|length == 0 %}
{%- block page -%}

  {% block skip %}
    <div><a class="sr-only sr-only-focusable" href="#main_content">{{ _('Skip to content') }}</a></div>
  {% endblock %}

  {#
  Override the header on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the header.html
  file.
  #}
  {%- block header %}
    {% include "apicatalog_header.html" %}
  {% endblock -%}

  {# The content block allows you to replace the content of the page if needed #}
  {%- block content %}
   {% block maintag %}<div role="main">{% endblock %}
  {% block service_alerts %}
      {% snippet 'snippets/service_alerts.html' %}
  {% endblock %}
  {% block info_message %}
      {% snippet 'snippets/info_messages.html' %}
  {% endblock %}
      <div id="content" class="container">
        {% block main_content %}
          {% block flash %}
            <div class="flash-messages">
              {% block flash_inner %}
                {% for message in h.flash.pop_messages() | list %}
                  <div class="alert fade in {{ message.category }}">
                    {{ h.literal(message) }}
                  </div>
                {% endfor %}
              {% endblock %}
            </div>
          {% endblock %}

          {% block toolbar %}
            <div class="toolbar">
              {% block breadcrumb %}
                {% if self.breadcrumb_content() | trim %}
                  <ol class="breadcrumb">
                    {% snippet 'snippets/home_breadcrumb_item.html' %}
                    {% block breadcrumb_content %}{% endblock %}
                  </ol>
                {% endif %}
              {% endblock %}
            </div>
          {% endblock %}

          <div class="row">
            <div class="col-xs-12 prelude">
                <div class="pull-right page-actions">
                    {% block content_action %}{% endblock %}
                    {% if self.page_primary_action() | trim %}
                        <div class="page_primary_action">
                            {% block page_primary_action %}{% endblock %}
                        </div>
                    {% endif %}
                </div>
                {% block prelude %}
              {% endblock %}
            </div>
          </div>
          <div class="row wrapper {% block wrapper_class %}{% endblock %}{% if no_nav %} no-nav{% endif %}">
            {#
            The pre_primary block can be used to add content to before the
            rendering of the main content columns of the page.
            #}
            {% block pre_primary %}
              {% snippet 'snippets/apicatalog_offcanvas-button.html' %}
            {% endblock %}

            {% block primary %}
            <div class="primary border-left {% if no_nav %} col-xs-8 {% endif %} {% if not no_nav %}{% block primary_col %}col-sm-8{% endblock %}{% endif %}">

                {#
                The primary_content block can be used to add content to the page.
                This is the main block that is likely to be used within a template.

                Example:

                  {% block primary_content %}
                    <h1>My page content</h1>
                    <p>Some content for the page</p>
                  {% endblock %}
                #}
                {% block primary_content %}
                  <section id="main_content" class="module">
                    <div class="module-content">
                      {% block primary_content_inner %}
                      {% endblock %}

                    </div>
                  </section>
                {% endblock %}

              </div>
            {% endblock %}
            {% block secondary %}
                {%  if not no_nav %}
                <section class="secondary border-right {% block secondary_col %}col-sm-4{% endblock %} navbar-offcanvas navbar-offcanvas-touch {% block secondary_class %}{% endblock %}" id="js-bootstrap-offcanvas">
              {% snippet 'snippets/apicatalog_offcanvas-close-button.html' %}
              {#
              The secondary_content block can be used to add content to the
              sidebar of the page. This is the main block that is likely to be
              used within a template.

              Example:

                {% block secondary_content %}
                  <h2>A sidebar item</h2>
                  <p>Some content for the item</p>
                {% endblock %}
              #}
              {% block secondary_content %}{% endblock %}
            </section>
                {% endif %}
            {% endblock %}
          </div>
        {% endblock %}
      </div>
    </div>
  {% endblock -%}

  {#
  Override the footer on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the footer.html-u
  file.
  #}
  {%- block footer %}
    {% include "footer.html" %}
  {% endblock -%}
{%- endblock -%}

{%- block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/fonts/source-sans-pro/css/source-sans-pro.css" />
  <link rel="stylesheet" href="/fonts/font-awesome/css/all.css" />
  <link rel="stylesheet" href="/fonts/font-awesome/css/v4-shims.css" />
  {% asset 'apicatalog/main_css' %}
{% endblock %}

{%- block scripts %}
    {% asset 'base/main' %}
    {% asset 'base/ckan' %}
    {% asset 'apicatalog/main_js' %}
    {% asset 'apicatalog/tablesorter' %}

    {% if g.tracking_enabled %}
      {% asset 'base/tracking' %}
    {% endif %}
  {{ super() }}

  <!-- Matomo -->
    {% set matomo_config = h.get_matomo_config() %}
    <script type="text/javascript">

        window.matomoAsyncInit = function () {
            var matomoTracker = Matomo.getAsyncTracker('{{ matomo_config.site_url }}/matomo.php', {{ matomo_config.site_id }});

            if (matomoTracker.HeatmapSessionRecording) {
                matomoTracker.HeatmapSessionRecording.disable();
            }
        }

        var _paq = window._paq = window._paq || [];

        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="{{ matomo_config.site_url + '/' }}";
          _paq.push(['setTrackerUrl', u+'matomo.php']);
          _paq.push(['setSiteId', {{ matomo_config.site_id }} ]);

          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.src='//cdn.matomo.cloud/suomi.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="https://suomi.matomo.cloud/matomo.php?idsite={{ matomo_config.site_id }}&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
{% endblock -%}
