{% ckan_extends %}

{% set lang = h.lang().split('_')[0] %}
{% set page_title = c.page.get('title_' + lang) or c.page.title %}
{% set page_content = c.page.get('content_' + lang) or c.page.content %}

{% block subtitle %}
{{ page_title }}
{% endblock %}

{% block primary %}
	<div class="apicatalog-page-wrapper">
		<section class="module-content">
			{% if h.check_access('ckanext_pages_update') %}
                {% link_for _('Edit'), named_route='pages.edit', page=c.page.name, class_='btn btn-primary pull-right', icon='edit' %}
			{% endif %}
			<h1 class="page-heading">{{ page_title }}</h1>
			{% if page_content %}
				<div class="ckanext-pages-content">
					{% set editor = h.get_wysiwyg_editor() %}
					{% if editor %}
						<div>
							{{page_content|safe}}
						</div>
					{% else %}
						{{ h.render_content(page_content) }}
					{% endif %}
				</div>
			{% else %}
				<p class="empty">{{ _('This page currently has no content') }}</p>
			{% endif %}
		</section>
	</div>
{% endblock %}

{% block secondary %}{% endblock %}
