{% extends "organization/read_base.html" %}
{% block primary_content_inner %}
<h1>{{ _('Broken links') }}</h1>
<table class="table">
  <thead>
    <tr>
      <th>{{_('URL') }}</th>
      <th>{{ _('Referrers') }}</th>
      <th>{{ _('Reason') }}</th>
    </tr>
  </thead>
  <tbody>
    {% for r in results %}
    <tr>
      <td><a href="{{ r.url }}">{{r.url }}</a></td>
      <td>
        <ul class="list-unstyled">
          {% for ref in r.referrers %}
          <li><a href="{{ ref.url }}">{{ref.url }}</a></li>
          {% endfor %}
        </ul>
      </td>
      <td>{{ r.reason }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

