{% extends 'snippets/search_form_without_title.html' %}

{% block search_input %}
  {{ super() }}
  <label for="apis-selection">{{ _('Filter by role') }}</label>
  <div>
  {% if request.args.all_orgs %}
      <a name="apis-selection" href="{{ h.url_for(controller='organization', action='index', q=c.q, sort=sorting_selected) }}">
          {{ _('Show only service providers') }}
      </a>
      <input type="hidden" name="all_orgs" value="True"></input>
  {% else %}
      <a name="apis-selection" href="{{ h.url_for(controller='organization', action='index', q=c.q, sort=sorting_selected, all_orgs=True) }}">
          {{ _('Show organizations without APIs') }}
      </a>
  {% endif %}
  </div>
{% endblock %}
