<div class="account">
  <div class="nav">
    {% block header_account_container_content %}
      {% if c.userobj %}
        {% set new_activities = h.new_activities() %}
        <div class="dropdown" id="profile">

          <a href="#" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="username">{{ c.userobj.name }}</span>
          </a>

          <ul id="no-collapse" class="dropdown-menu dropdown-menu-right">
            {% snippet 'home/snippets/apicatalog_profile_items.html', class="dropdown-item" %}
          </ul> <!-- /.dropdown-menu -->
        </div> <!-- /.dropdown -->
      {% else %}

        {% block header_account_notlogged %}
          {% link_for _('Log in'), controller='user', action='login', icon='signin' %}
          {% if h.check_access('user_create') %}
            {% link_for _('Register'), controller='user', action='register', class_='sub' %}
          {% endif %}
        {% endblock %} {# header_account_notlogged #}

      {% endif %} {# /if c.userobj #}
    {% endblock %} <!-- header_account_container_content -->
  </div> <!-- /.nav -->
</div> <!-- /.account -->
