{% import 'macros/form.html' as form %}
{%- if not c.group_type -%}
    <p>
        group_type not passed to template. your version of CKAN
        might not be compatible with ckanext-scheming
    </p>
{%- endif -%}
<div class="module-content" style="width: 60%">
<form class="dataset-form form-horizontal" method="post" data-module="basic-form" enctype="multipart/form-data">
    <p class="control-required-message"><span class="control-required" style="color:black">*&nbsp;</span>{{ _('Required field') }}</p>
  {% block error_summary %}
    {{ form.errors(error_summary) }}
  {% endblock %}

  {%- set schema = h.scheming_get_organization_schema(c.group_type) -%}
    {%- for field in schema['fields'] -%}
        {%- if field.form_snippet is not none -%}
          {%- snippet 'scheming/snippets/form_field.html',
          field=field, data=data, errors=errors, licenses=licenses,
          entity_type='organization', object_type=c.group_type -%}
        {%- endif -%}
    {%- endfor -%}
    {{ form.hidden('csrf-token', h.generate_csrf_token()) }}

    <div class="form-actions" style="margin-left: -15px">
        {% block save_text %}
            <button class="btn btn-primary pull-left" name="save" type="submit">{{ _('Save changes') }}</button>
            <a class="btn pull-left" href="{% url_for controller='organization', action='read', id=data.id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{{ _('Discard changes') }}</a>
        {% endblock %}
    </div>
</form>
</div>