{#
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to.

Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources, resource_type="attachment", title=_('Data and Resources') %}

#}
<section id="dataset-resources" class="resources">
  <div class="flex-container">
    <h2 class="visual-h3 flex">{{ title }}</h2>
    {% if h.check_access('resource_create', {'package_id': pkg['id']}) and resource_type == "attachment" %}
      <div class="flex-right">
        {% link_for _('Add new resource'), named_route=pkg.type ~ '_resource.new', id=pkg.name, class_='btn btn-secondary' %}
      </div>
    {% endif %}
    {% if h.check_access('package_update', {'id': pkg['id']}) and resource_type == "service" %}
      <div class="flex-right">
        {% link_for _('Reorder resources'), named_route=pkg.type ~ '.resources', id=pkg.name, icon="fal fa-list" %}
      </div>
    {% endif %}
  </div>

  {% block resource_list %}
  <ul class="{% block resource_list_class %}resource-list{% endblock %}">
    {% if resources %}
        {% block resource_list_inner %}
          {% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
          {% for resource in resources %}
            {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit %}
          {% endfor %}
        {% endblock %}
    {% endif %}
  </ul>
  {% endblock %}
</section>
