{% ckan_extends %}

{% block head_extras -%}
  {% set description = h.markdown_extract(h.ensure_translated(res.description), extract_length=200) if res.description else h.markdown_extract(h.ensure_translated(c.package.notes), extract_length=200) %}
  <meta property="og:title" content="{{ h.dataset_display_name(c.package) }} - {{ h.resource_display_name(res) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape }}">
{% endblock -%}

{% block resource_content %}
  {% block resource_read_title %}<h1 class="page-heading">{{ h.resource_display_name(res) | truncate(50) }}</h1>{% endblock %}
  {% block resource_read_url %}{% endblock %}
  <div class="prose notes" property="rdfs:label">
    {% if res.description %}
      {{ h.render_markdown(h.ensure_translated(res.description)) }}
    {% endif %}
    {% if not res.description and c.package.notes %}
      <h3>{{ _('From the dataset abstract') }}</h3>
      <blockquote>{{ h.markdown_extract(h.ensure_translated(c.package.get('notes'))) }}</blockquote>
      <p>{% trans dataset=c.package.title, url=h.url_for(controller='package', action='read', id=c.package['name']) %}Source: <a
			     href="{{ url }}">{{ dataset }}</a>{% endtrans %}
    {% endif %}
  </div>
{% endblock %}
{% block resource_view %}
  <div class="hidden-xs"><div class="hidden-sm">
  {% block resource_view_nav %}
    {% set resource_preview = h.resource_preview(c.resource, c.package) %}
    {% snippet "package/snippets/resource_views_list.html",
       views=resource_views,
       pkg=pkg,
       is_edit=false,
       view_id=current_resource_view['id'],
       resource_preview=resource_preview,
       resource=c.resource,
       extra_class="nav-tabs-plain"
     %}
  {% endblock %}
  <div class="module-content">
    {% block resource_view_content %}
      <div class="resource-view">
        {% set resource_preview = h.resource_preview(c.resource, c.package) %}
        {% set views_created = res.has_views or resource_preview %}
        {% if views_created %}
          {% if resource_preview and not current_resource_view %}
            {{ h.resource_preview(c.resource, c.package) }}
          {% else %}
            {% for resource_view in resource_views %}
              {% if resource_view == current_resource_view %}
                {% snippet 'package/snippets/resource_view.html',
                   resource_view=resource_view,
                   resource=c.resource,
                   package=c.package
                 %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% else %}
          {# Views not created #}
          <div class="module-content data-viewer-info">
            <p>{{ _("There are no views created for this resource yet.") }}</p>
            {% if h.check_access('resource_view_create', {'resource_id': c.resource.id}) %}
              <p class="muted">
                <i class="icon-info-sign"></i>
                {{ _("Not seeing the views you were expecting?")}}
                <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-view-info">
                  {{ _('Click here for more information.') }}</a>
              </p>
              <div id="data-view-info" class="collapse">
                <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
                <ul>
                  <li>{{ _("No view has been created that is suitable for this resource")}}</li>
                  <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
                  <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}</li>
                </ul>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </div>
</div></div>
{% endblock %}

{% block resource_actions %}
  <ul>
    {% block resource_actions_inner %}
    {% if h.check_access('package_update', {'id':pkg.id }) %}
      <li>{% link_for _('Manage'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}</li>
    {% endif %}
    {% if res.url and h.is_url(res.url) %}
      <li>
          {% if res.resource_type in ('listing', 'service') %}
            <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
            <i class="icon-eye-open"></i> {{ _('View') }}
          {% elif res.resource_type == 'api' %}
            <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
            <i class="icon-key"></i> {{ _('API Endpoint') }}
          {% else %}
            <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}" download>
            <i class="icon-download"></i> {{ _('Download') }}
          {% endif %}
        </a>
      </li>
    {% endif %}
    {% if 'datastore' in g.plugins %}
      <li>{% snippet 'package/snippets/data_api_button.html', resource=res, datastore_root_url=c.datastore_api %}</li>
    {% endif %}
    {% endblock %}
  </ul>
{% endblock %}

{% block resource_license %}
{% endblock %}

{%- block resource_fields -%}
  {%- for field in schema.resource_fields -%}
    {%- if field.field_name not in exclude_fields and res[field.field_name] -%}
      <tr>
        <th scope="row">
          {{- h.scheming_language_text(field.label) -}}
        </th>
        <td>
          {%- snippet 'scheming/snippets/display_field.html',
              field=field, data=res, entity_type='dataset',
              object_type=dataset_type -%}
        </td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
{%- endblock -%}
