{% extends 'apply_permissions_for_service/base.html' %}

{% block prelude %}
<h1>{{ _('Service access applications') }}</h1>
{% endblock %}

{% block primary_content_inner %}

{% if applications %}
  {% snippet 'apply_permissions_for_service/snippets/application_table.html', applications=applications %}
{% else %}
<p>{{ _('You have not sent any service access applications. You can apply for access to services by clicking the "Request access" button on the service page.') }}</p>
{% endif %}

{% endblock %}

