{% extends 'apply_permissions_for_service/base.html' %}

{% block breadcrumb_content %}
    {% if pkg.organization %}
      {% set organization = h.get_translated(pkg.organization, 'title') or pkg.organization.name %}
      {% set group_type = pkg.organization.type %}
      <li>{% link_for _('Organizations'), controller='organization', action='index', named_route=group_type + '_index' %}</li>
      <li>{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name, named_route=group_type + '_read' %}</li>
    {% else %}
      <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
    {% endif %}
    <li>{% link_for h.dataset_display_name(pkg)|truncate(30), controller='package', action='read', id=pkg.name %}</li>
    {% if service %}
    <li>{% link_for h.resource_display_name(service)|truncate(30), controller='package', action='resource_read', id=pkg.name, resource_id=service.id %}</li>
    {% endif %}
    <li class="active">{% link_for _('Request access'), named_route='apply_permissions_for_service.new_permission_application', subsystem_id=subsystem_id, service_id=service_id %}</li>
{% endblock %}

{% block prelude %}
<h1>{{ _('Apply for permission to use API {}').format(h.get_translated(pkg, 'title')) }}</h1>
{% endblock %}

{% block primary_content_inner %}
<form class="col-sm-8" method="POST">
  {% import 'macros/form.html' as form %}
  {{ form.hidden('subsystemId', value=subsystem_id) }}
  <h3>{{ _('API access application') }}</h3>
  <p class="input-group-description">{{ _('Use this form to apply for a permission to use a service that is available in the National Data Exchange Layer. Your application will be submitted to the organization providing the service. When your application has been approved, Valtori is automatically notified of the needed firewall configurations.') }}</p>
  <hr>
  <h3>{{ _('Applicant information') }}</h3>
  <p class="input-group-description">{{ _('Your contact infomation and organization details are prefilled based on information provided when your organization joined the National Data Exchange layer. Modify the prefilled information if necessary.') }}</p>

  <p>* Required field</p>
  {% set user_org = user_managed_organizations[0] if user_managed_organizations else {} %}
  {# TODO: Should probably be organization select component ? #}
  {{ form.input('organization', label=_('Organization'), is_required=True, value=user_org.title or '') }}
  {{ form.input('businessCode', label=_('Business code'), is_required=True, value=user_org.xroad_member_code or '') }}

  {{ form.input('contactName', label=_('Contact name'), is_required=True, value=user.fullname) }}
  {{ form.input('contactEmail', label=_('Contact email'), is_required=True, value=user.email) }}

  <hr>
  <h3>{{ _('Details of your Security Server and Subsystem') }}</h3>
  <p class="input-group-description">{{ _('Fill in the details of the Security Server and subsystem that you are applying permission for, and need the firewall opened to.') }}</p>

  {% set subsystem_options = [] %}
  {% for d in user_managed_datasets %}
    {% set dataset_title = h.xroad_subsystem_path(d) or h.get_translated(d, 'title') %}
    {% do subsystem_options.append({'value': d.id, 'text': dataset_title}) %}
  {% endfor %}

  {% call form.input_multiple('ipAddress', label=_('IP address'), is_required=True, placeholder=_('Write the IP address'), description=_('Select one or several IP addresses of your organization\'s security servers'), add_input='add-ip-address') %}
    <button class="btn btn-default" name="add-ip-address"><i class="fa fa-plus"></i>{{ _('Add an IP address') }}</button>
  {% endcall %}

  <div class="select-wrapper">
    {{ form.select('subsystemCode', label=_('Subsystem code'), options=subsystem_options, is_required=True) }}
  </div>

  <hr>

  <h3>{{ _('Details of the service and API you are applying to access') }}</h3>
  <p class="input-group-description"></p>

  <table class="horizontal-info">
    <thead>
      <tr><th>{{ _('Organization name') }}</th><th>{{ _('Subsystem') }}</th></tr>
    </thead>
    <tbody>
      <tr><td>{{ h.get_translated(org, 'title') }}</td><td>{{ h.get_translated(pkg, 'title') }}</td></tr>
    </tbody>
  </table>

  {% set service_options = [] %}
  {% set service_selected = [service_id] if service_id else [] %}
  {% for res in pkg.resources %}
    {% do service_options.append({'value': res.id, 'text': res.xroad_service_code or res.name}) %}
  {% endfor %}

  {{ form.select_multiple('serviceCode', label=_('Service code'), options=service_options, is_required=True, selected=service_selected, description=_('Select one or several APIs you are applying to access')) }}
  {{ form.textarea('usageDescription', label=_('Explain how the service will be used'), placeholder=_('Reason for requesting access')) }}
  {{ form.input('requestDate', type='date', label=_('Date when access is needed')) }}

  <hr>

  <input class="btn btn-primary" type="submit" value="{{ _('Send access application') }}"></input>
  <a class="btn btn-secondary">{{ _('Cancel') }}</a>
</form>
{% endblock %}
