{% extends 'apply_permissions_for_service/base.html' %}
{% import 'macros/form.html' as form %}

{% block breadcrumb_content %}
    {% if pkg.organization %}
      {% set organization = h.get_translated(pkg.organization, 'title') or pkg.organization.name %}
      {% set group_type = pkg.organization.type %}
      <li>{% link_for _('Organizations'), controller='organization', action='index', named_route=group_type + '_index' %}</li>
      <li>{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name, named_route=group_type + '_read' %}</li>
    {% else %}
      <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
    {% endif %}
    <li>{% link_for h.dataset_display_name(pkg)|truncate(30), controller='dataset', action='read', id=pkg.name %}</li>
    {% if service %}
    <li>{% link_for h.resource_display_name(service)|truncate(30), controller='package', action='resource_read', id=pkg.name, resource_id=service.id %}</li>
    {% endif %}
    <li class="active">{% link_for _('Request access'), named_route='apply_permissions.new_permission_application', subsystem_id=subsystem_id, service_id=service_id %}</li>
{% endblock %}

{% block prelude %}
<h1>{{ _('Apply for permission to use API {}').format(h.get_translated(pkg, 'title')) }}</h1>
{% endblock %}

{% block primary_content_inner %}
    <script>
    function selectOrganization() {
        let element = document.querySelector('[name=businessCode]');
        let organizationName = document.querySelector('[name=organization]').value;
        let newValue = organizationName.split('.')[2];
        if(element.value !== newValue) {
          element.value = newValue;
          updateSubsystemSelect();
        }
    }
    function selectIntermediateOrganization() {
        let element = document.querySelector('[name=intermediateBusinessCode]')
        let organizationName = document.querySelector('[name=intermediateOrganization]').value;
        let newValue = organizationName.split('.')[2];
        if(element.value !== newValue) {
          element.value = newValue;
          updateSubsystemSelect();
        }
    }
    function showIntermediateOrganization() {
        var show = document.querySelector('[name=enableIntermediateOrganization]').checked;
        var intermediateOrganizationDiv = document.getElementById("intermediateOrganizationDiv");
        if (show) {
            intermediateOrganizationDiv.style.display = "block";
        } else {
            intermediateOrganizationDiv.style.display = "none";
        }
        updateSubsystemSelect();
    }
    function updateSubsystemSelect() {
      let owner_org = null;
      if(document.querySelector('[name=enableIntermediateOrganization]').checked) {
        owner_org = document.querySelector('[name=intermediateOrganization]').value;
      } else {
        owner_org = document.querySelector('[name=organization]').value;
      }

      let selected = null;
      document.querySelectorAll('[name=subsystemCode] option').forEach(o => {
        if(o.value.startsWith(owner_org)) {
          o.removeAttribute('hidden')
          if(o.selected || !selected) {
            selected = o
          }
        } else {
          o.setAttribute('hidden', true)
          o.selected = false
        }
      })
      if(selected) {
        selected.selected = true
      }
    }
    </script>
{% block errors %}{{ form.errors(errors) }}{% endblock %}
<form method="POST" enctype="multipart/form-data" data-module="form-change-listener" data-module-confirm-modal-selector>
  {{ form.hidden('subsystemId', value=subsystem_id) }}
  <h3>{{ _('API access application') }}</h3>
  <p class="input-group-description">{{ _('Use this form to apply for a permission to use a service that is available in the National Data Exchange Layer. Your application will be submitted to the organization providing the service. When your application has been approved, Valtori is automatically notified of the needed firewall configurations.') }}</p>
  <hr>
  <h3>{{ _('Applicant information') }}</h3>
  <p class="input-group-description">{{ _('Your contact infomation and organization details are prefilled based on information provided when your organization joined the National Data Exchange layer. Modify the prefilled information if necessary.') }}</p>

  <p>* {{ _('Required field') }}</p>
  {% set user_org = user_managed_organizations[0] if user_managed_organizations else {} %}

  {% snippet 'apply_permissions_for_service/snippets/organization_select.html',
             name='organization',
             value=values.organization or user_org.name or '',
             select_attrs={'onchange': 'selectOrganization()'},
             label=_('Organization'),
             is_required=True,
             organizations=user_managed_organizations %}

  {{ form.input('businessCode', label=_('Business code'), is_required=True, value=values.business_code, error=[errors.business_code]) }}

  {{ form.input('contactName', label=_('Contact name'), is_required=True, value=values.contact_name or user.fullname, error=[errors.contact_name]) }}
  {{ form.input('contactEmail', label=_('Contact email'), is_required=True, value=values.contact_email or user.email, error=[errors.contact_email]) }}

  <hr>
  <div class="control-group">
      <table>
          <tr>
              <td style="padding-left: 5px; padding-right: 5px;">
                  <input type="checkbox"
                         id="enableIntermediateOrganization"
                         name="enableIntermediateOrganization"
                         {% if values.intermediate_organization %}checked{% endif %}
                         onchange="showIntermediateOrganization()">
              </td>
              <td style="padding-left: 5px; padding-right: 5px;">
                  {{ _('Applying organization acts as an intermediary on behalf of the organizations using the services') }}
              </td>
          </tr>
      </table>
  </div>


  <div id="intermediateOrganizationDiv">
    <h3>{{ _('Information about the organization consuming the services') }}</h3>
    {% snippet 'apply_permissions_for_service/snippets/organization_select.html',
               name='intermediateOrganization',
               select_attrs={'onchange': 'selectIntermediateOrganization()'},
               label=_('Organization using the services'),
               is_required=True,
               value=values.intermediate_organization,
               organizations=user_managed_organizations %}

    {{ form.input('intermediateBusinessCode', label=_('Y-number'),
                  is_required=True, value=values.intermediate_business_code,
                  error=[errors.intermediate_business_code]) }}
  </div>

  <hr>
  <h3>{{ _('Details of your Security Server and Subsystem') }}</h3>
  <p class="input-group-description">{{ _('Fill in the details of the Security Server and subsystem that you are applying permission for, and need the firewall opened to.') }}</p>

  {% set subsystem_options = [{'value': '', 'text': ''}] %}
  {% for d in user_managed_datasets %}
    {% set dataset_title = h.xroad_subsystem_path(d) or h.get_translated(d, 'title') %}
    {% do subsystem_options.append({'value': d.id, 'text': dataset_title}) %}
  {% endfor %}

  {% call form.input_multiple('ipAddress', label=_('IP address'), value=values.ip_address_list, is_required=True, placeholder=_('Write the IP address'), description=_('Select one or several IP addresses of your organization\'s security servers'), add_input='add-ip-address', error=[errors.ip_address_list]) %}
    <button class="btn btn-default" name="add-ip-address"><i class="fa fa-plus"></i>{{ _('Add an IP address') }}</button>
  {% endcall %}

  <div class="select-wrapper">
    {{ form.select_with_description('subsystemCode', description=_('Select the subsystem of your organization for which you want to apply permission'), label=_('Subsystem code'), options=subsystem_options, is_required=True, selected=values.subsystem_code, error=[errors.subsystem_code]) }}
  </div>

  <hr>

  <h3>{{ _('Details of the service and API you are applying to access') }}</h3>
  <p class="input-group-description"></p>

  <table class="horizontal-info">
    <thead>
      <tr><th>{{ _('Organization name') }}</th><th>{{ _('Subsystem') }}</th></tr>
    </thead>
    <tbody>
      <tr><td>{{ h.get_translated(org, 'title') }}</td><td>{{ h.get_translated(pkg, 'title') }}</td></tr>
    </tbody>
  </table>

  {{ form.hidden('target_organization_id', org.id) }}

  {% set service_options = [] %}
  {% set service_selected = values.service_code_list or ([service_id] if service_id else []) %}
  {% for res in pkg.resources %}
    {% do service_options.append({'value': res.id, 'text': res.xroad_service_code or res.name}) %}
  {% endfor %}

  {{ form.select_multiple('serviceCode', label=_('Service code'), options=service_options, is_required=True, selected=service_selected, description=_('Select one or several APIs you are applying to access'), error=[errors.service_code_list]) }}
  {{ form.textarea('usageDescription', label=_('Explain how the service will be used'), value=values.usage_description, placeholder=_('Reason for requesting access')) }}
  {{ form.input('requestDate', type='date', label=_('Date when access is needed'), value=values.request_date, error=[errors.request_date]) }}

  <hr>
  {% if pkg.get('service_permission_settings', {}).get('delivery_method') == 'email' and pkg.get('service_permission_settings', {}).get('require_additional_application_file') == True %}
    {% snippet "apply_permissions_for_service/snippets/additional_application_info.html", pkg=pkg, errors=errors %}

    <hr>
  {% endif %}
  {% block application_form_actions %}
    <input class="btn btn-primary" type="submit" value="{{ _('Send access application') }}"></input>
  {% endblock %}

  {% if not values.business_code %}
    {# populate business code from selected organization #}
    <script>selectOrganization()</script>
  {% endif %}
    {% if not values.intermediate_business_code %}
      {# populate intermediate organization business code from selected organization #}
      <script>selectIntermediateOrganization()</script>
    {% endif %}

  {# Set intermediate organization visibility based on checkbox #}
  <script>showIntermediateOrganization()</script>
  <script>updateSubsystemSelect()</script>
</form>
{% endblock %}
