{% extends 'package/edit_base.html' %}
{% import 'macros/form.html' as form %}
{% resource 'apicatalog_ui/javascript/mutexfield.js' %}

{% block primary_content_inner %}
<h2>{{ _('Settings') }}</h2>
{% block errors %}{{ form.errors(errors) }}{% endblock %}
<form class="col-sm-8" method="POST">
  {{ form.hidden('subsystemId', value=subsystem_id) }}
  <div data-module="mutexfield">
    <div class="select-wrapper">
      {{ form.select('deliveryMethod', label=_('Delivery method for access requests'), options=[
      {'value': 'none', 'text': _('Disable access requests for this API')},
      {'value': 'email', 'text': _('E-mail')},
      {'value': 'api', 'text': _('Ticketing service API call')},
      {'value': 'web', 'text': _('Access is requested on a web page managed by my organization')},
      ], is_required=True, selected=(settings.delivery_method or 'none')) }}
    </div>
    <div data-mutex-field="deliveryMethod">
      <div data-mutex-value="email">
        {{ form.input('email', label=_('Email address'), value=settings.email) }}
      </div>
      <div data-mutex-value="api">
        {{ form.input('api', label=_('Endpoint URL'), value=settings.api) }}
      </div>
      <div data-mutex-value="web">
        {{ form.input('web', label=_('Webpage URL'), value=settings.web) }}
      </div>
    </div>
  </div>
  <input class="btn btn-primary" type="submit" value="{{ _('Save') }}"></input>
  <a class="btn btn-secondary">{{ _('Cancel') }}</a>
</form>
{% endblock %}

{% block secondary_content %}
{% endblock %}

