{% extends 'package/edit_base.html' %}
{% import 'macros/form.html' as form %}
{% resource 'apicatalog_ui/javascript/mutexfield.js' %}

{% block content_action %}
{% link_for _('Exit the settings'), named_route=pkg.type ~ '.read', id=pkg.name, class_='btn btn-default' %}
{% endblock %}

{% block primary_content %}
<section id="main_content" class="module">
  <div class="module-content">
    {% block primary_content_inner %}
    <h2 class="p-0">{{ _('Subsystem permission') }}</h2>
    <p class="module__instructions">{{ _('You can allow permission requests for authenticated API-Catalog users. Permission requests are disabled by default in a new subsystem.') }}</p>
    {% block errors %}{{ form.errors(errors) }}{% endblock %}
    <div class="row">
      <form class="col-sm-7" method="POST" enctype="multipart/form-data" data-module="form-change-listener" data-module-confirm-modal-selector>
        {{ form.hidden('subsystemId', value=subsystem_id) }}
        <div data-module="mutexfield">
          <div class="select-wrapper">
            {{ form.select('deliveryMethod', label=_('Delivery method for access requests'), options=[
            {'value': 'none', 'text': _('Disable access requests for this API')},
            {'value': 'email', 'text': _('E-mail')},
            {'value': 'file', 'text': _('Upload your access request file')},
            {'value': 'web', 'text': _('Access is requested on a web page managed by my organization')},
            ], is_required=True, selected=(settings.delivery_method or 'none')) }}
          </div>
          <div data-mutex-field="deliveryMethod">
             <div data-mutex-value="email">
                  {{ form.input('email', label=_('Email address'), value=settings.email) }}
             </div>
            <div data-mutex-value="file">
              {% set is_upload = settings.file_url and not settings.file_url.startswith('http') %}
              {% set is_url = settings.file_url and settings.file_url.startswith('http') %}
              {{ form.image_upload_dragndrop(
                  settings,
                  errors,
                  upload_label=_('Add your file'),
                  is_upload_enabled=h.uploads_enabled(),
                  is_url=is_url,
                  is_upload=is_upload,
                  field_url='file_url',
                  field_upload='file',
                  field_clear='clear_upload',
                  max_filesize=h.max_resource_size(),
                  max_total_size=h.max_resource_size()
                  )
              }}
            </div>
            <div data-mutex-value="web">
              {{ form.input('web', label=_('Webpage URL'), value=settings.web) }}
            </div>
          </div>
        </div>
        <div class="module__actions">
          <button class="btn btn-primary" type="submit">{{ _('Save') }}</button>
          <a class="btn btn-default">{{ _('Cancel') }}</a>
        </div>

        <div class="module__settings-instructions">
          <h3 class="module__settings-instructions__header"><i class="fal fa-info-circle"></i>{{ _('Permission request alternatives:')}}</h3>
          <div class="module__settings-instructions__content">
            {% trans %}
                <p style="font-weight: bold;">Application in API Catalogue</p>
                <ul>
                    <li>Request permission to use a subsystem by using the predefined electronic form in the API Catalogue.</li>
                </ul>
                <p style="font-weight: bold;">Organisation’s downloadable application (PDF)</p>
                <ul>
                    <li>Upload your organisation's own PDF form to the API Catalogue that can be used to request permission to use the subsystem. The applicant must download the form from the API Catalogue and send the completed form to the email address you specified.</li>
                    <li>In the form, explain to which email address the form should be returned to.</li>
                    <li>Access requests sent in this way will not appear in the API Catalogue.</li>
                </ul>
                <p style="font-weight: bold;">Link to the access licence application on the organisation's website</p>
                <ul>
                    <li>Enter the URL for your organisation’s web page where the person requesting access can apply for access to your organisation’s services.</li>
                    <li>Access requests sent in this way will not appear in the API Catalogue.</li>
                </ul>
                <p>For more information on the administration of access rights, see the instructions in the
                    <a target="_blank" href="https://liityntakatalogi.suomi.fi/">
                        API Catalogue.
                    </a>
                </p>
            {% endtrans %}
          </div>
        </div>
      </form>
    </div>
    {% endblock %}
  </div>
</section>
{% endblock %}

{% block secondary_content %}
{% endblock %}

