<section class="additional-info">
  <h2 class="visual-h3">{{ _('Additional Info') }}</h2>
  <table class="table table-condensed">
    <thead> </thead>
    <tbody>
      {% block package_additional_info %}

        {% if pkg_dict.maintainer_email %}
          {% set field = h.get_field_from_schema(schema, 'maintainer')  %}

            <tr>
                <th scope="row" class="dataset-label">{{ h.scheming_language_text(field.label) }}</th>
                <td class="dataset-details"{%
                        if field.display_property %} property="{{ field.display_property
                        }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
                    field=field, data=pkg_dict, schema=schema -%}</td>
            </tr>
        {% endif %}

        {% if pkg_dict.metadata_modified %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Last Updated") }}</th>
            <td class="dataset-details">{{ h.render_datetime(pkg_dict.metadata_modified, with_hours=True) }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.metadata_created %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Created") }}</th>
            <td class="dataset-details">{{ h.render_datetime(pkg_dict.metadata_created, with_hours=True) }}</td>
          </tr>
        {% endif %}

        {%- for field in schema.dataset_fields -%}
          {%- if field.field_name not in exclude_fields and field.display_snippet is not none -%}
            <tr>
              <th scope="row" class="dataset-label">{{ h.scheming_language_text(field.label) }}</th>
                <td class="dataset-details"{%
                  if field.display_property %} property="{{ field.display_property
                  }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
                    field=field, data=pkg_dict, schema=schema -%}</td>
            </tr>
          {%- endif -%}
        {%- endfor -%}

        {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
          <tr>
              <th scope="row" class="dataset-label">{{ _("State") }}</th>
              <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
          </tr>
      {% endif %}

      {% block extras scoped %}
        {% for extra in h.sorted_extras(pkg_dict.extras) %}
          {% set key, value = extra %}
          <tr rel="dc:relation" resource="_:extra{{ i }}">
            <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
            <td class="dataset-details" property="rdf:value">{{ value }}</td>
          </tr>
        {% endfor %}
      {% endblock %}

      {% endblock %}
    </tbody>
  </table>
</section>
