<section class="additional-info">
  <h2 class="visual-h3">{{ _('Additional Info') }}</h2>
  <table class="table table-condensed">
    <thead> </thead>
    <tbody>
      {% block package_additional_info %}
        {%- for field_key in include_fields -%}
          {%- set fields = schema.dataset_fields | selectattr('field_name', 'equalto', field_key) | list -%}
          {%- if fields|length > 0 -%}
            {%- set field = fields[0] -%}
            {%- if field.display_snippet is not none -%}
              <tr>
                <th scope="row" class="dataset-label">{{ h.scheming_language_text(field.label) }}</th>
                  <td class="dataset-details"{%
                    if field.display_property %} property="{{ field.display_property
                    }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
                      field=field, data=pkg_dict, schema=schema -%}</td>
              </tr>
            {%- endif -%}
          {%- elif field_key == 'url' -%}
            <tr>
              <th>{{ _('Source') }}</th>
              <td>{{ pkg_dict.get('url') }}</td>
            </tr>
          {%- endif -%}
        {%- endfor -%}

      {% block extras scoped %}
        {% for extra in h.sorted_extras(pkg_dict.extras) %}
          {% set key, value = extra %}
          <tr rel="dc:relation" resource="_:extra{{ i }}">
            <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
            <td class="dataset-details" property="rdf:value">{{ value }}</td>
          </tr>
        {% endfor %}
      {% endblock %}

      {% endblock %}
    </tbody>
  </table>
</section>
