<div role="main" class="hero">
  <div class="hero-background-container {% if h.is_test_environment() %}test-environment{% endif %}">
    <div class="container">
      {% block slogan %} {% snippet 'home/snippets/apicatalog_slogan.html' %} {% endblock %}
      <div id="hero-stats" class="col-sm-8 col-sm-offset-2">
        {% set statistics = h.get_statistics() %}
        <div class="col-sm-4">
          <div class="count">{{statistics.package_count}}</div>
          <div class="stats-title">{{_('datasets')}}</div>
          <div><i class="fa fa-angle-right"></i><a href="{{ h.url_for(controller='package', action='search') }}">{{_('Show all')}}</a></div>
        </div>

        <div class="col-sm-4">
          <div class="count">{{statistics.organization_count}}</div>
          <div class="stats-title">{{_('total organizations')}}</div class="stats-title">
          <div><i class="fa fa-angle-right"></i><a href="{{ h.url_for(controller='organization', action='index') }}">{{_('Show all')}}</a></div>
        </div>
        <div class="col-sm-4">
          <div class="count">{{statistics.organizations_with_packages_count}}</div>
          <div class="stats-title">{{_('organizations with datasets')}}</div class="stats-title">
          <div><i class="fa fa-angle-right"></i><a href="{{ h.url_for(controller='organization', action='index') }}">{{_('Show all')}}</a></div>
        </div>
      </div>
    </div>
  </div>
  <div role="main">
    {% block service_alerts %}
      {% snippet 'snippets/service_alerts.html' %}
    {% endblock %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-sm-6 col-md-6">
              {% block promoted %} {% snippet 'home/snippets/promoted.html' %} {% endblock %}
              <div class="module">
                {% block twitter_feed %} {% snippet 'home/snippets/twitter.html' %} {% endblock %}
              </div>
            </div>
            <div class="col-sm-4 col-md-4 sidebar">
              {# <div class="module"> #}
                {# Note: this featured_group block is used as an example in the theming tutorial in the docs! If you change this code, be sure to check whether you need to update the docs. #} {# Start template block example. #} {# {% block featured_group %} {% snippet 'home/snippets/featured_group.html'
                %} {% endblock %} #} {# End template block example. #}
                {# </div> #}
              <div class="module">
                {% block featured_organization %} {% snippet 'home/snippets/featured_organization.html' %} {% endblock %}
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
