<div role="main" class="hero">
  <div class="hero-background-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          {% block slogan %} {% snippet 'home/snippets/apicatalog_slogan.html' %} {% endblock %}
          {% block search %} {% snippet 'home/snippets/apicatalog_huge-search.html' %} {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <div role="main">
    {% block service_alerts %}
      {% snippet 'snippets/service_alerts.html' %}
    {% endblock %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-sm-6 col-md-6">
              {% block promoted %} {% snippet 'home/snippets/promoted.html' %} {% endblock %}
              <div class="module">
                {% block twitter_feed %} {% snippet 'home/snippets/twitter.html' %} {% endblock %}
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="module">
                {# Note: this featured_group block is used as an example in the theming tutorial in the docs! If you change this code, be sure to check whether you need to update the docs. #} {# Start template block example. #} {% block featured_group %} {% snippet 'home/snippets/featured_group.html'
                %} {% endblock %} {# End template block example. #}
              </div>
              <div class="module">
                {% block featured_organization %} {% snippet 'home/snippets/featured_organization.html' %} {% endblock %}
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
