<div role="main" class="hero">
  <div class="hero-background-container">
    <div class="container">
      {% block slogan %} {% snippet 'home/snippets/apicatalog_slogan.html' %} {% endblock %}
      <div id="hero-stats" class="col-sm-8 col-sm-offset-2">
        {% set statistics = h.get_statistics() %}
        <div class="col-sm-4">
          <div class="count">{{statistics.package_count}}</div>
          <div>{{_('datasets')}}</div>
          <div><i class="fa fa-angle-right"></i><a href="{{ h.url_for(controller='package', action='search') }}">{{_('Show all')}}</a></div>
        </div>
        {% set org_controller = 'ckanext.apicatalog_routes.plugin:Apicatalog_OrganizationController' %}
        <div class="col-sm-4">
          <div class="count">{{statistics.organization_count}}</div>
          <div>{{_('total organizations')}}</div>
          <div><i class="fa fa-angle-right"></i><a href="{{ h.url_for(controller=org_controller, action='index') }}">{{_('Show all')}}</a></div>
        </div>
        <div class="col-sm-4">
          <div class="count">{{statistics.organizations_with_packages_count}}</div>
          <div>{{_('organizations with datasets')}}</div>
          <div><i class="fa fa-angle-right"></i><a href="{{ h.url_for(controller=org_controller, action='index') }}">{{_('Show all')}}</a></div>
        </div>
      </div>
    </div>
  </div>
  <div role="main">
    {% block service_alerts %}
      {% snippet 'snippets/service_alerts.html' %}
    {% endblock %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              {% block promoted %} {% snippet 'home/snippets/promoted.html' %} {% endblock %}
              <div class="module">
                {% block twitter_feed %} {% snippet 'home/snippets/twitter.html' %} {% endblock %}
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="module">
                {# Note: this featured_group block is used as an example in the theming tutorial in the docs! If you change this code, be sure to check whether you need to update the docs. #} {# Start template block example. #} {% block featured_group %} {% snippet 'home/snippets/featured_group.html'
                %} {% endblock %} {# End template block example. #}
              </div>
              <div class="module">
                {% block featured_organization %} {% snippet 'home/snippets/featured_organization.html' %} {% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
