{% if item.package %}
  {% set pkg_url = h.url_for('dataset_read', id=item.package.name) %}
{% endif %}
{% if item.resource %}
  {% set res_url = h.url_for('resource_read', id=item.package.name, resource_id=item.resource.id) %}
{% endif %}
{% if item.organization %}
  {% set org_url = h.url_for('organization_read', id=item.organization.name) %}
{% endif %}

{% if item.activity.activity_type == 'new organization' %}
  {% if item.organization.package_count == 0 %}
    <span>{{ _('New consumer') }}</span>
  {% else %}
  <span>{{ _('New producer') }}</span>
  {% endif %}
{% elif item.activity.activity_type == 'new package' %}
  <span>{{ _('New subsystem') }}</span>
{% elif item.activity.activity_type == 'changed package' %}
  <span>{{ _('Updated subsystem') }}</span>
{% elif item.activity.activity_type == 'deleted package' %}
  <span>{{ _('Deleted subsystem') }}</span>
{% elif item.activity.activity_type == 'new resource' %}
  <span>{{ _('New service') }}</span>
{% elif item.activity.activity_type == 'changed resource' %}
  <span>{{ _('Updated service') }}</span>
{% elif item.activity.activity_type == 'deleted resource' %}
  <span>{{ _('Deleted service') }}</span>
{% endif %}
