{% set announcements = announcements or [] %}
{% if announcements %}
<div class="announcements">
  <ul class="announcements-list">
    {%- for item in announcements -%}<li>
      <h4 class="title">{% snippet 'home/snippets/announcement_title.html', item=item %}</h4>
      <span class="published">{{ _('Published') }} {{ item.published.strftime('%d.%m.%Y') }}</span>
      <p class="content">{% snippet 'home/snippets/announcement_content.html', item=item %}</p>
    </li>{%- endfor -%}
  </ul>
  <div class="view-all-link">
    <i class="fa fa-chevron-right"></i><a href="">{{ _('Browse announcements') }}</a>
  </div>
</div>
{% endif %}

