{% set organizations = h.get_homepage_organizations(3) %}

<h3>{{ _('Sample APIs') }}</h3>
{% for organization in organizations %}
    {% snippet 'snippets/organization_item.html', organization=organization, truncate=50, truncate_title=35 %}
{% endfor %}


{#{% set xroad_organizations = h.get_xroad_organizations() %}

<h2>{{ _('Organization that have joined the Data Exchange Layer') }}</h2>

{% for xroad_organization in xroad_organizations %}
        {% snippet 'snippets/organization_item.html', organization=xroad_organization, truncate=50, truncate_title=35 %}
{% endfor %}
#}
