{% set news = news or [] %}
{% set language = language or h.lang() %}
{% if news %}
<h2 class="visual-h3">{{ _('News') }}</h2>
{% if note %}
  <div class="section-note">{{ note }}</div>
{% endif %}
<div class="news">
  <ul class="news-list">
    {%- for item in news -%}<li>
      {% if item.image %}
        <img class="image" src="{{ item.image }}" alt="{{ item.image_alt }}"/>
      {% endif %}
      <div>
        <a href="{{ h.get_translated(item, 'url', language=language) }}"><h3 class="visual-h4 title">{{ h.get_translated(item, 'title', language=language) | safe}}</h3></a>
        <span class="published">{{ _('Published') }} {{ item.published.strftime('%d.%m.%Y') }}</span>
        <span class="content">{{ h.get_translated(item, 'content', language=language) | safe }}</span>
      </div>
    </li>{%- endfor -%}
  </ul>
  <div class="view-all-link">
    <i class="fa fa-chevron-right"></i><a href="https://palveluhallinta.suomi.fi/{{ h.lang() }}/ajankohtaista/uutiset/">{{ _('Browse news') }}</a>
  </div>
</div>
{% endif %}
