<a href="#twitter_end" class="sr-only sr-only-focusable">{{ _('Skip twitter feed') }}</a>
<div class="apicatalog-twitter-feed">
	<a class="twitter-timeline" data-lang="fi" data-chrome="noheader nofooter" data-tweet-limit="1" href="https://twitter.com/suomifi?ref_src=twsrc%5Etfw"></a>
	<div class="twitter-link-box">
		<a href="https://twitter.com/suomifi?ref_src=twsrc%5Etfw">
			{{_('Show more tweets by Suomi.fi')}}
			<i class="fa fa-angle-right pull-right"></i>
		</a>
	</div>
</div>
<div class="apicatalog-twitter-feed">
	<a class="twitter-timeline" data-lang="fi" data-chrome="noheader nofooter" data-tweet-limit="1" href="https://twitter.com/NordicInstitute?ref_src=twsrc%5Etfw"></a>
	<div class="twitter-link-box">
		<a href="https://twitter.com/NordicInstitute?ref_src=twsrc%5Etfw">
			{{_('Show more tweets by NIIS')}}
			<i class="fa fa-angle-right pull-right"></i>
		</a>
	</div>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<span id="twitter_end" class="sr-only"></span>
