.dataset-list {
  padding: 0px;
}

.dataset-item {

  border-left: 10px solid @kapa-secondary-attention-color;
  background-color: @kapa-light-grey;
  margin-bottom: 20px;

  &:hover {
    .transition(0.2s);
    background-color: @kapa-dark-grey;
  }

  &, a {
    color: @black;
  }

  & .container-fluid {
    padding:20px;
  }

}

@media (max-width: @screen-xs-max) {
  .dataset-item {
    word-wrap:break-word;
  }
}

.dataset-item:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.dataset-heading {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 1.3;
}

.dataset-heading .label {
  position: relative;
  top: -1px;
}

.dataset-private {
  margin-right: 10px;
  text-transform: uppercase;
  .glyphicon-lock {
    width: 9px;
  }
  &.pull-right {
    margin-right: 0;
  }
}

.dataset-resources li {
  display: inline;
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
}

.dataset-resources li a {
  background-color: @resourceFormatBackground;
}

.dataset-heading .popular {
  top: 0;
}

// Resource List

.resource-list {
  .list-unstyled;
}

.resource-item {
  border-left: 10px solid #f25d0d;
  background-color: @kapa-light-grey;
  margin-bottom: 20px;

  position: relative;
  margin-bottom: 0px;

  &:hover {
    .transition(0.2s);
    background-color: @kapa-dark-grey;
  }

  a {
    color: @black;
    font-weight: bold;
    text-decoration: none;
  }
}

.resource-item .col-xs-11 .container-fluid {
  padding: 20px 20px 20px 60px;
  p {
    font-weight: normal;
    @font-size: @font-size-base;
    .multiline-ellipsis(1);
  }
}

.resource-item .heading {
  color: @layoutBoldColor;
  font-size: 14px;
  font-weight: bold;
}

.resource-item .dropdown{
  margin-top: 30px;
}
.resource-item .caret {
  zoom: 2;
  display: inline-block;
  float: right;
}

.resource-item .format-label {
  position: absolute;
  top: 20px;
  left: 20px;
}

.resource-item .description {
  font-size: @font-size-base;
  word-wrap:break-word;

  margin-bottom: 0;
  min-height: 12px;
}

.resource-list.reordering {
  .resource-item {
    border: 1px solid @moduleHeadingBorderColor;
    margin-bottom: 10px;
    cursor: move;
    .handle {
      display: block;
      position: absolute;
      color: @moduleHeadingActionTextColor;
      left: -31px;
      top: 50%;
      margin-top: -15px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid @moduleHeadingBorderColor;
      border-width: 1px 0 1px 1px;
      background-color: @moduleBackgroundColor;
      .border-radius(20px 0 0 20px);
      &:hover {
        text-decoration: none;
      }
    }
    &:hover .handle {
      background-color: @layoutBackgroundColor;
    }
    &.ui-sortable-helper {
      background-color: @layoutBackgroundColor;
      border: 1px solid @layoutLinkColor;
      .handle {
        background-color: @layoutBackgroundColor;
        border-color: @layoutLinkColor;
        color: @navLinkColor;
      }
    }
  }
}
.resource-item .handle {
  display: none;
}

// Dataset Forms

// Tag List

.tags {
  span {
   font-weight: bold;
    margin-top: 10px;
    margin-bottom:0px;
    display:inline-block;
  }
}

.tag-list {
  .list-unstyled;
  padding: 10px 10px 5px 10px;
}

.tag-list li {
  padding: 0px 10px 2px 10px;

  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
  background-color: @kapa-secondary-attention-color;
  border-radius:4px;
  border: 2px solid @kapa-secondary-attention-color;

  a {
    color: @white;
    text-decoration:none;
  }

  &:hover {
    background-color:transparent;
    a {
      color: @kapa-black;
    }
  }
}

.tag-list li:last-child {
  margin-right: 0;
}

// Additional Info

.additional-info td,
.additional-info th {
  width: 50%;
}

// FORMATS


.label {
  background-color: @resourceFormatBackground;
  color: @white;
}

// Views
.view-list {
  .list-unstyled;
  li {
    position: relative;
    margin-bottom: 10px;
    a {
      display: block;
      min-height: 50px;
      padding: 10px;
      border: 1px solid @moduleHeadingBorderColor;
      overflow: hidden;
      .border-radius(3px);
      .icon {
        float: left;
        width: 50px;
        height: 50px;
        overflow: hidden;
        margin-right: 10px;
        color: @layoutTextColor;
        background-color: @layoutBackgroundColor;
        .border-radius(3px);
        i {
          display: block;
          text-align: center;
          font-size: 28px;
          line-height: 50px;
        }
      }
      h3 {
        font-weight: bold;
        color: @layoutBoldColor;
        font-weight: bold;
        font-size: 16px;
        margin: 0 0 3px 0;
      }
      p {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: @layoutTextColor;
      }
      &.active,
      &:hover {
        text-decoration: none;
        border-color: @layoutLinkColor;
        .icon {
          background-color: @layoutLinkColor;
          color: @navActiveBackgroundColor;
        }
      }
    }
    .arrow {
      position: absolute;
      display: none;
      border: 8px solid transparent;
      border-top-color: @layoutLinkColor;
      left: 50%;
      bottom: -15px;
      margin-left: -4px;
    }
    &.active {
      a {
        text-decoration: none;
        border-color: @layoutLinkColor;
        .icon {
          background-color: @layoutLinkColor;
          color: @navActiveBackgroundColor;
        }
      }
      .arrow {
        display: block;
      }
    }
  }
  &.stacked {
    overflow-y: hidden;
    overflow-x: auto;
    height: 100px;
    white-space: nowrap;
    li {
      display: inline-block;
      width: 250px;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }

    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: @navActiveBackgroundColor;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: darken(@navActiveBackgroundColor, 20%);
      &:hover {
        background-color: @layoutLinkColor;
      }
    }

  }
}

.resource-view {
  margin-top: 20px;
}
