@FontAwesomePath: "../../../base/vendor/font-awesome/font";
@fontPath: "../../../base/vendor/fonts/";

@font-face {
  font-family: 'SourceSans';
  src: url('@{fontPath}/SourceSansProRegular.eot');
  src: url('@{fontPath}/SourceSansProRegular.eot?#iefix') format('embedded-opentype'),
       url('@{fontPath}/SourceSansProRegular.woff') format('woff'),
       url('@{fontPath}/SourceSansProRegular.ttf') format('truetype'),
       url('@{fontPath}/SourceSansProRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSans';
  src: url('@{fontPath}/SourceSansProBold.eot');
  src: url('@{fontPath}/SourceSansProBold.eot?#iefix') format('embedded-opentype'),
       url('@{fontPath}/SourceSansProBold.woff') format('woff'),
       url('@{fontPath}/SourceSansProBold.ttf') format('truetype'),
       url('@{fontPath}/SourceSansProBold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('@{fontPath}/RobotoLight.eot');
  src: url('@{fontPath}/RobotoLight.eot?#iefix') format('embedded-opentype'),
       url('@{fontPath}/RobotoLight.woff') format('woff'),
       url('@{fontPath}/RobotoLight.ttf') format('truetype'),
       url('@{fontPath}/RobotoLight.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('@{fontPath}/RobotoBold.eot');
  src: url('@{fontPath}/RobotoBold.eot?#iefix') format('embedded-opentype'),
       url('@{fontPath}/RobotoBold.woff') format('woff'),
       url('@{fontPath}/RobotoBold.ttf') format('truetype'),
       url('@{fontPath}/RobotoBold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('@{fontPath}/RobotoBlack.eot');
  src: url('@{fontPath}/RobotoBlack.eot?#iefix') format('embedded-opentype'),
       url('@{fontPath}/RobotoBlack.woff') format('woff'),
       url('@{fontPath}/RobotoBlack.ttf') format('truetype'),
       url('@{fontPath}/RobotoBlack.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
