.group-list .module-heading h3 {
  margin-bottom: 2px;
  margin-left: 20px;
}
.group-list {
  .media-heading {
    color: @suomifi-highlight-base;
    font-family: @headings-font-family;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
  }

  .description {
    color: @suomifi-text-base;
    font-family: @font-family-base;
    font-size: 18px;
    line-height: 27px;
  }
  .count {
    color: @suomifi-text-base;
    font-family: @headings-font-family;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
}
