.homepage {
  h1 {
    font-size: 40px;
  }

  .module li.dataset-item {
    background-color: white;
    margin-bottom: 0px;
    border-bottom: 1px solid @kapa-box-border-color;
    &:hover {
      background-color: @kapa-light-grey;
    }
  }
  .module-heading p {
    display:none;
  }

  .top-caption {
    text-align: center;
    display: block;
    font-weight: 200;
    font-family: Roboto, SourceSansProRegular, 'Helvetica Neue', Arial;
    font-variant-ligatures: none;
    text-shadow: 0 0 10px rgb(70, 70, 70);
    font-size: 56px !important;
    font-size: 2rem;
    margin: 30px 0 20px 0;
    color: #fff;
  }

  .module-search {
    @search-box-color: @kapa-secondary-attention-color;
    background-color: @search-box-color;
    border-color: @search-box-color;
    border-radius: 0px;

    input {
      border:none;
      border-radius:5px;
      box-shadow: 5px;

      &:hover,
      &:focus {
        .transition(box-shadow 0.2s);
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
      }
    }

    button {
      font-size: 18px;
      text-transform: uppercase;
      padding: 8px 15px;

      background-color: @kapa-secondary-attention-color;
      border: 3px solid white;
      color: white;

      .transition(
        background-color 0.2s linear,
        color 0.2s linear;
      );

      &:hover {
        background-color: white;
        color: @kapa-secondary-attention-color;
      }

    }
  }

  .promoted {
    color: white;
    background-color: @kapa-attention-color;
  }

  .stats {
    a {
      color:white;
    }
  }
  .tags {
    .clearfix();
    color: @white;
    padding-left: 15px;

    a {
      margin-left: 5px;
      .border-radius(4px);
    }

   span {
     font-weight: bold;
      margin-top: 10px;
      margin-bottom:0px;
      display:inline-block;
    }

    .tag {
      display: inline-block;
      margin-bottom: 4px;
      color: white;
      padding: 1px 10px;
      text-decoration: underline;
      border: 2px solid transparent;

      &:hover {
        background-color: @kapa-secondary-attention-color;
        text-decoration: none;
        border: 2px solid white;
        color: white;
      }
    }
    h3 {
      font-size: @font-size-base;
      line-height: @line-height-computed;
      padding: 2px 8px;
    }
  }

  .heading {
    font-weight: bolder !important;
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 24px;
    line-height: 40px;
  }

  .search-form {
    border-bottom: none;
    .search-input {
      margin-bottom: 0px;
    }
  }

  .module-search {
    padding: 5px;
    color: @mastheadTextColor;
    .module-content {
      border-bottom: none;
    }
  }

  .group-list {
    margin: 0;
  }

  .box .inner {
    padding: @gutterY @gutterX;
  }

  .box + .box{
    margin-top: @gutterY;
  }

  .stats {
    h3 {
      margin: 0 0 10px 0;
    }
    ul {
      .list-unstyled;
      .clearfix;
      li {
        font-weight: 300;
        a {
          display: block;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }


  &.layout-2 .stats {
    margin-top: @gutterY;
  }

}
