@import (reference) "variables";
@import "mixins";
@import "../vendor/bootstrap/less/mixins";
@import "../vendor/bootstrap/less/type";
@import (reference) "../vendor/bootstrap/less/variables";

.homepage {

  .module li.dataset-item {
    background-color: white;
    margin-bottom: 0;
    border-bottom: 1px solid @kapa-box-border-color;
    border-top: 1px solid @suomifi-border;
    &:hover {
      background-color: @kapa-light-grey;
    }
  }
  .module-heading p {
    display:none;
  }

  .top-caption {
    text-align: center;
    display: block;
    font-weight: 500;
    font-family: @font-family-base;
    font-size: 40px !important;
    line-height: 48px;
    margin: 13px 0 44px 0;
    color: #fff;
  }

  #hero-stats {
    text-align: center;
    color: white;
    font-weight: 500;
    margin-bottom: 6px;

    .count {
      font-size: 40px;
      line-height: 48px;
    }

    .stats-title {
      font-family: @headings-font-family;
    }

    i {
      color: @suomifi-accent-base;
      font-size: 16px;
      margin-right: 8px;
    }

    a {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: white;
    }
  }

  .module-search {
    @search-box-color: @kapa-secondary-attention-color;
    background-color: @search-box-color;
    border-color: @search-box-color;
    border-radius: 0;

    input {
      border:none;
      border-radius:5px;
      box-shadow: 5px 5px;

      &:hover,
      &:focus {
        .transition(box-shadow 0.2s);
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
      }
    }

    button {
      font-size: 18px;
      text-transform: uppercase;
      padding: 8px 15px;

      background-color: @kapa-secondary-attention-color;
      border: 3px solid white;
      color: white;

      .transition(
        background-color 0.2s linear,
        color 0.2s linear;
      );

      &:hover {
        background-color: white;
        color: @kapa-secondary-attention-color;
      }

    }
  }

  .promoted {
    color: white;
    background-color: @kapa-attention-color;
  }

  .stats {
    a {
      color:white;
    }
  }
  .tags {
    .clearfix();
    color: @white;
    padding-left: 15px;

    a {
      margin-left: 5px;
      .border-radius(4px);
    }

   span {
     font-weight: bold;
      margin-top: 10px;
      margin-bottom:0;
      display:inline-block;
    }

    .tag {
      display: inline-block;
      margin-bottom: 4px;
      color: white;
      padding: 1px 10px;
      text-decoration: underline;
      border: 2px solid transparent;

      &:hover {
        background-color: @kapa-secondary-attention-color;
        text-decoration: none;
        border: 2px solid white;
        color: white;
      }
    }
    h3 {
      font-size: @font-size-base;
      line-height: @line-height-computed;
      padding: 2px 8px;
    }
  }

  .heading {
    font-weight: bolder !important;
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 24px;
    line-height: 40px;
  }

  .search-form {
    border-bottom: none;
    .search-input {
      margin-bottom: 0;
    }
  }

  .module-search {
    padding: 5px;
    color: @mastheadTextColor;
    .module-content {
      border-bottom: none;
    }
  }

  .group-list {
    border-top: 4px solid @moduleHeadingTopBorderColor;

    > * {
      border-left: 1px solid @layoutTrimBorderColor;
      border-right: 1px solid @layoutTrimBorderColor;
    }
    margin: 0;

    .module-heading {
      border-top: none;
    }

  }

  .box .inner {
    padding: @gutterY @gutterX;
  }

  .box + .box{
    margin-top: @gutterY;
  }
  .sidebar {
    @media (min-width: @screen-xs-max) {
      padding-top: 85px;
    }

    .module {
      margin-top: 30px;
    }
  }
}

.apicatalog-12mo-stats {
  font-family: SourceSansPro-SemiBold;
  font-weight: 600;
  color: @suomifi-text-base;

  .heading {
    font-size: 22px;
    line-height: 28px;
    max-width: 300px;
    margin-right: 80px;
    margin-bottom: 20px;
  }

  .item {
    margin-bottom: 30px;

    .amount {
      display: block;
      font-size: 40px;
      margin-bottom: 8px;
    }
    .quality {
      font-size: 18px;
      color: @suomifi-text-highlight;
    }
  }
}

.horizontal-dataset-list {
  list-style: none;
  padding: 0;

  .horizontal-dataset-item {
    height: 265px;
    border-top: 4px solid @suomifi-highlight-dark;

    .border-wrapper {
      background-color: white;
      border: 1px solid @suomifi-border;
      border-top: 0;
      padding: 25px 25px 25px 30px;
      height: 100%;
    }

    .organization-title {
      font-size: 22px;
      margin-top: 0;
      margin-bottom: 20px;
    }

    .dataset-title {
      font-size: 18px;
      margin-bottom: 8px;
    }

    .dataset-description {
      font-size: 16px;
      max-height: 131px;
      overflow: hidden;
    }
  }
}

.view-all-link {
  font-size: 16px;
  i {
    color: @suomifi-accent-base;
  }
  a {
    margin-left: 10px;
  }
}

.homepage-section {
  margin-bottom: 80px;
  &:first-child {
    margin-top: 80px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .section-note {
    font-style: italic;
    margin-bottom: 10px;
  }
}

.news, .announcements {
  background-color: white;
  border: 1px solid @suomifi-border;
  padding: 14px 44px;

  .view-all-link {
    margin-bottom: 30px;
  }
}

.news-list, .announcements-list {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    border-bottom: 1px solid @suomifi-border;

    &:last-child {
      margin-bottom: 40px;
    }
    .image {
      width: 270px;
      margin-right: 50px;
    }
    .title {
      margin-top: 0;
      font-size: 20px;
      margin-bottom: 5px;
    }
    .published {
      font-size: 16px;
    }
    .content {
      font-size: 18px;
      margin-top: 5px;
      margin-bottom: 0;
    }
  }
}

.news-list > li {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.announcements-list > li {
  padding-top: 20px;
  padding-bottom: 20px;
}
