@import "../vendor/bootstrap/less/bootstrap.less";
@import "twitter.less";
@import "ckan.less";

body {
  font-family: 'SourceSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #292929;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #86499c;
}
a:disabled {
  text-decoration: none;
  color: #a5acb1;
}
a:hover {
  text-decoration: none;
  color: #235a9a;
}
a:focus {
  text-decoration: none;
  color: #e97025;
}
