@notificationsBg: #C9403A;
@masthead-padding: 8px;
@account-masthead-height: 37px;
@masthead-height: 44px;

.beta {
  text-transform: uppercase;
  display: inline-block;
  color: @white;
  background: @kapa-attention-color;
  @beta-height: @font-size-base / 1.41;
  font-size: @beta-height;
  margin-left: 5px;
  margin-bottom: 5px;
  padding-left: 4px;
  padding-right: 4px;
  vertical-align:middle;
}
.placeright-sm-up {
  @media(min-width: @screen-sm-min) {
    .placeright();
  }
}
.placeright {
  margin-left: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.support-sites-label {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: -4px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;

  span {
    background: #464a4d;
    display: inline-block;
    height: 100%;
    font-weight: 400;
    height: @account-masthead-height;
    padding: 8px 10px 0 10px;
  }
}

.centered {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.informational-text .support-site-text {
  text-transform: lowercase;
}

.navbar {
  border: none;
}

.navbar > .container {
  background-color: @mastheadBackgroundColor;
}

.navbar-nav {
  z-index: @zindex-navbar;
  float:none;
  margin:auto;
  text-align: center;
  > li {
    border:none;
    float:none;
    display:inline-block;
  }
}

#navbar-logo-text {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3px 0;
  padding-left: 15px;
  display: inline-block;
  margin-top: 9px;
  z-index: @zindex-navbar - 1;
  a {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

#profile > a > span.username {
  color:white;
}

.language-navbar {
  .clearfix();
  min-height: @account-masthead-height;
  background: @accountMastheadColor;
  color: @header-inactive-color;
  font-size: 14px;

  & .informational-text {
    margin-top: 10px;
  }

  & .language-changer {
    text-transform: uppercase;
  }

  .navbar-nav .list-inline li:not(:first-child) {
    border-left: 1px solid @header-divider-color;
  }

  .navbar-nav .list-inline li div {
    padding-top: 5px;
    border-top: 3px solid @accountMastheadColor;

    &:hover {
      border-top: 3px solid @kapa-attention-color-dark;
    }
    a {
      color: @header-inactive-color;
      text-decoration: none;
    }
  }

  .navbar-nav .list-inline .active {
    border-top: 3px solid @kapa-attention-color;
    a {
      color: white;
    }
  }
}

.main-navbar {
  .container {
    position: relative;
  }

  z-index: @zindex-navbar - 1;
  font-size:16px;
  height:@masthead-height;
  -webkit-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.15);

  a {
    color: @mastheadLinkColor;
  }
  .navbar-collapse {
    background-color: @kapa-main-light-grey;
    padding-left: 0px;
    padding-right: 0px;
  }

  .navbar-collapse.collapse.in,
  .navbar-collapse.collapsing {
    @media (max-width: @screen-xs-max) {
      margin-top: @navbar-height;
    }
  }

  .navbar-collapse[aria-expanded="true"] {
    @media (max-width: @screen-xs-max) {
      border-top: 1px solid @genericBorderColor;
    }
  }

  .main-navigation {
    li a {
      text-transform: uppercase;
    }
  }

  .navigation {
    // Triangle below active navigation
    @media (max-width: @screen-xs-max) {
      &.active a:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid @kapa-attention-color;
        position: absolute;
        bottom: -8px;
        left: 50%;
        margin-left: -8px;
      }
    }
  }

  .debug {
    position: absolute;
    top: 37px;
    left: 10px;
    color: rgba(255, 255, 255, 0.5);
  }
}

.account {
  .nav > li > a,
  .nav > li > a:hover,
  .nav > li > a:active
  .nav > li > a:visited, {
    padding: 8px 10px;
    padding-right: 0px;
    color: @kapa-active-link;
    background-color: transparent !important;
  }
  .clearfix();
  .notifications {
    a {
      span.badge {
        font-size: 12px;
        margin-left: 3px;
        padding: 1px 6px;
        .border-radius(4px);
        text-shadow:none;
      }
    }
    &.notifications-important a {
      span.badge {
        color: @mastheadLinkColor;
        background-color: @notificationsBg;
      }
    }
  }
}
