@import "variables";
@module-vertical-margin: 30px;

.secondary {
  .module {
    margin: @module-vertical-margin 0;

    &.main-heading {
      margin: 0;
      .module-heading{
        height: 78px;
        background-color: @suomifi-highlight-base;
        font-size: 18px;
        color: @white;
        padding-left: 20px;
        border-top: none;
      }
    }
  }
}

.filters {
  .module {
    .module-heading {
      border-top: 1px solid @moduleHeadingBorderColor;
    }
  }
}

.module-heading {
  .clearfix;
  margin: 0;
  border-bottom: none;

  .visual-h5;
  padding: 28px 0 0 0;
  background-color: @moduleHeadingBackgroundColor;
}

.module-content {
  padding: 0 @gutterX;
  margin: 20px 0;

  > .fill-module {
    margin: -20px 0;
  }
}

.module-content > :first-child:not(.fill-module) {
  margin-top: 0;
  padding-top: @gutterY;
}

.module-content > :last-child:not(.fill-module) {
  margin-bottom: 0;
  padding-bottom: @gutterY;
}

.module-content > :last-child {
  margin-bottom: 0;
}

.module:last-child {
  margin-bottom: @module-vertical-margin;
}

.module-footer {
  padding: 7px @gutterX 7px;
  margin: 0;
  border-top: 1px  @kapa-box-border-color;
}

.module .read-more {
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 20px;
  color: @suomifi-highlight-base;
}

.module .pagination li.active a {
  border-color: #ddd;
}

// Secondary column specific

.module-narrow {
  .module-heading,
  .module-content,
  .module-footer {
    padding-left: 0;
    padding-right: 0;
  }
}

.secondary,
.primary {
  .module {
    margin-top: 0;
  }
}

.secondary {
  .box();
  background-color: @moduleBackgroundColor;

  .module {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.module-image {
  width: 50px;
  line-height: @line-height-computed;
  text-align: center;
  margin-left: 15px;
  img {
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
  }
}
