{% ckan_extends %}

<div class="row">
    {% if resource.get('harvested_from_xroad') %}
      {% set title = 'Edit service' %}
    {% else %}
      {% set title = 'Edit attachment' %}
    {% endif %}

    <div class="col-xs-12 prelude">
        <div class="pull-right page-actions">
            {% block content_action %}
                {% link_for _('Cancel edit'), named_route=pkg.type ~ '.resources', id=pkg.name, class_='btn btn-default', icon='arrow-left' %}
            {% endblock %}
            {% if self.page_primary_action() | trim %}
                <div class="page_primary_action">
                    {% block page_primary_action %}{% endblock %}
                </div>
            {% endif %}
        </div>
        {% block prelude %}
            <h1>{{ _(title) }}</h1>
        {% endblock %}
    </div>
</div>

{% block primary_content %}
    <section id="main_content" class="module">
        <div class="module-content" style="width: 60%">
            {% block primary_content_inner %}
                <p class="control-required-message"><span>*&nbsp;</span>{{ _('Required field') }}</p>
                {{ super() }}
            {% endblock %}
        </div>
    </section>
{% endblock %}
{% block secondary_content %}
{% endblock %}
