ServerName localhost

WSGISocketPrefix /var/run/wsgi
<VirtualHost 127.0.0.1:8080>

    ServerName localhost
    WSGIScriptAlias / /etc/ckan/default/apache.wsgi

    # Pass authorization info on (needed for REST API)
    WSGIPassAuthorization On

    # Deploy as a daemon (avoids conflicts between CKAN instances)
    # Use single process in vagrant for enabling debuggin
    {% if vagrant is defined %}
    WSGIDaemonProcess ckan_default display-name=ckan_default threads=15
    {% else %}
    WSGIDaemonProcess ckan_default display-name=ckan_default processes=2 threads=15
    {% endif %}

    WSGIProcessGroup ckan_default

    ErrorLogFormat "[%t] %M"
    ErrorLog /var/log/apache2/ckan.log
    CustomLog /var/log/apache2/requests.log combined
    <Directory "/etc/ckan/default">
      Require all granted
    </Directory>

</VirtualHost>

{# Turn Sendfile off so that Vagrant/Virtualbox notices file changes in synced folders #}
{% if vagrant is defined %}
    EnableSendfile Off
{% endif %}

ServerSignature Off
ServerTokens Prod

<Location /server-status>
  SetHandler server-status
  Order Deny,Allow
  Deny from all
</Location>
