---

- name: Clear cache directory
  file: path={{ cache_path }} state=absent
  when: clear_all_cache
  tags:
  - clear-cache

- include: timezone.yml
- include: hostname.yml
- include: hosts.yml


- name: Copy apt sources.list
  template: src=sources.list.j2 dest=/etc/apt/sources.list mode="0644" owner=root group=root
  when: apt_source_url != false

- name: Upgrade packages
  apt: upgrade=dist update_cache=yes

- name: Ensure common packages
  apt: pkg={{ item }} state=latest
  with_items:
    - htop
    - unattended-upgrades
    - python-pip
    - python-dev
    - python-virtualenv
    - python-psycopg2
    - postgresql-server-dev-all
    - libpq5
    - git-core
    - zip
    - bzip2
    - unzip
    - gettext
    - build-essential
    - libz-dev
    - libssl-dev
    - supervisor
    - libxml2-dev
    - libxslt1-dev
    - node-less

# Note: psycopg2 requires postgresql-server-dev

- name: Enable automatic installation of security upgrades
  template: src=apt-auto-upgrades dest=/etc/apt/apt.conf.d/20auto-upgrades mode="0644" owner=root group=root

# TODO: Move path creation where paths are used even those are duplicate
- name: Create common paths
  file: path={{ item }} state=directory
  with_items:
    - "{{ server_path }}"
    - "{{ cache_path }}"

- include: pip.yml
