
<div class="hero">
  <section aria-label="{{ _('hero') }}" class="hero-background-container {% if h.is_test_environment() %}test-environment{% endif %}">
    <div class="container">
      {% block slogan %} {% snippet 'home/snippets/apicatalog_slogan.html' %} {% endblock %}
      <div id="hero-stats" class="col-sm-8 col-sm-offset-2">
        {% set statistics = h.get_statistics() %}
        <div class="col-sm-4">
          <a href="{{ h.url_for('dataset.search') }}" aria-label="{{ _('Show all datasets') }}">
            <div class="count">{{statistics.package_count}}</div>
            <div class="stats-title">{{_('public datasets')}}</div>
          </a>
        </div>

        <div class="col-sm-4">
          <a href="{{ h.url_for(controller='organization', action='index') }}" aria-label="{{ _('Show all organizations') }}">
            <div class="count">{{statistics.organization_count}}</div>
            <div class="stats-title">{{_('total organizations')}}</div>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="{{ h.url_for(controller='organization', action='index') }}" aria-label="{{ _('Show all service provider organizations') }}">
            <div class="count">{{statistics.provider_organizations}}</div>
            <div class="stats-title">{{_('service providers')}}</div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

  <section id="main_content" role="main">
    {% block service_alerts %}
      {% snippet 'snippets/service_alerts.html' %}
    {% endblock %}
    {% block info_messages %}
      {% snippet 'snippets/info_messages.html' %}
    {% endblock %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row homepage-section">
            <div class="col-sm-12">
              {% block columns %}
                {% snippet 'home/snippets/columns.html' %}
              {% endblock %}
            </div>
          </div>
          <div class="row homepage-section">
            <div class="col-sm-12">
              {% block featured_datasets %}
                {% snippet 'home/snippets/featured_datasets.html', datasets=h.get_homepage_datasets(3) %}
              {% endblock %}
            </div>
          </div>
          <div class="row homepage-section">
            <div class="col-sm-12">
              {% block stats %}
                {% snippet 'home/snippets/apicatalog_12mo_stats.html' %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

