
<div class="hero">
  <section aria-label="{{ _('hero') }}" class="hero-background-container {% if h.is_test_environment() %}test-environment{% endif %}">
    <div class="container">
      {% block slogan %} {% snippet 'home/snippets/apicatalog_slogan.html' %} {% endblock %}
      <div id="hero-stats" class="col-sm-8 col-sm-offset-2">
        {% set statistics = h.get_statistics() %}
        <div class="col-sm-4">
          <a href="{{ h.url_for('dataset.search') }}" aria-label="{{ _('Show all datasets') }}">
            <div class="count">{{statistics.package_count}}</div>
            <div class="stats-title">{{_('public datasets')}}</div>
          </a>
        </div>

        <div class="col-sm-4">
          <a href="{{ h.url_for(controller='organization', action='index') }}" aria-label="{{ _('Show all organizations') }}">
            <div class="count">{{statistics.organization_count}}</div>
            <div class="stats-title">{{_('total organizations')}}</div>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="{{ h.url_for(controller='organization', action='index') }}" aria-label="{{ _('Show all service provider organizations') }}">
            <div class="count">{{statistics.provider_organizations}}</div>
            <div class="stats-title">{{_('service providers')}}</div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

  <section id="main_content" role="main">
    {% block service_alerts %}
      {% snippet 'snippets/service_alerts.html' %}
    {% endblock %}
    {% block info_messages %}
      {% snippet 'snippets/info_messages.html' %}
    {% endblock %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row homepage-section">
            <div class="col-sm-12">
              {% block columns %}
                {% snippet 'home/snippets/columns.html' %}
              {% endblock %}
            </div>
          </div>
          <div class="row homepage-section">
            <div class="col-sm-12">
              {% block featured_datasets %}
                {% snippet 'home/snippets/featured_datasets.html', datasets=h.get_homepage_datasets(3) %}
              {% endblock %}
            </div>
          </div>
          <div class="row homepage-section">
            <div class="col-sm-12">
              {% block stats %}
                {% snippet 'home/snippets/apicatalog_12mo_stats.html' %}
              {% endblock %}
            </div>
          </div>
          <div class="row homepage-section">
            <div class="col-sm-12">
              {% block news %}
                {% set news_lang = h.lang() %}
                {% set note = None %}
                {% if news_lang in ('en', 'en_GB') %}
                {% set note = _('This content is not available in English. If you have any questions about this topic, please contact our customer service at <a href="mailto:organisaatiopalvelut@dvv.fi">organisaatiopalvelut@dvv.fi</a>.') %}
                  {% set news_lang = 'fi' %}
                {% endif %}
                {% snippet 'home/snippets/news.html', news=h.get_homepage_news(count=3, language=news_lang), language=news_lang, note=note %}
              {% endblock %}
            </div>
          </div>
          {# Temporarily disabled for performance testing
          <div class="row homepage-section">
            <div class="col-sm-12">
              <h3>{{ _('Announcements') }}</h3>
            </div>
            <div class="col-sm-12">
              {% block announcements %}
                {% snippet 'home/snippets/announcements.html', announcements=h.get_homepage_announcements(5) %}
              {% endblock %}

            </div>
          </div>
          #}
        </div>
      </div>
    </div>
  </section>

