/** Base colors */
@color--info: #2e78cc;
@color--danger: #c33932;
@color--success: #09ae87;

/** Brand colors */
@suomifi-brand--extra-light: #f7fafd;
@suomifi-brand--gray-light: #a5acb0;

@background-color__dropzone: #f6f9fc;
@background-color__dropzone--hover: #e2ebf6;
