
# ckanext-harvest requirements
# redis
# pika==0.9.8

# celery
# requests==2.4.3

# ckan extensions
#-e git+https://github.com/open-data/ckanext-scheming.git#egg=ckanext-scheming
-e git+https://github.com/bzar/ckanext-scheming.git#egg=ckanext-scheming
-e git+https://github.com/open-data/ckanext-fluent.git#egg=ckanext-fluent
-e git+https://github.com/ckan/ckanext-pages.git#egg=ckanext-pages
