redis
pika==0.9.8
requests==2.4.3
rdflib
celery
pyparsing==1.5.6
-e git+https://github.com/open-data/ckanext-scheming.git#egg=ckanext-scheming
-e git+https://github.com/open-data/ckanext-fluent.git#egg=ckanext-fluent
