{% raw %}
{% ckan_extends %}

{% block additional_user_agents -%}
{% endraw %}
{% if not robots_allowed %}
User-agent: *
Disallow: /
{% else %}
{% for bot in blocked_bots %}
User-agent: {{ bot }}
Disallow: /
{% endfor %}
{% endif %}
{% raw %}
{%- endblock %}
{% endraw %}