{% extends "admin/base.html" %}

{% block primary_content %}
{% set xroad_env = h.get_xroad_environment() %}
{% set xroad_stats = h.fetch_xroad_statistics(history=False, env=xroad_env) %}
{% set xroad_stats = xroad_stats.get(xroad_env, {}).get('stats', {}) %}
{% set xroad_services = h.get_xroad_stats() %}
{% set xroad_services = xroad_services[0] or {} %}
{% set xroad_distinct_services = h.get_xroad_distinct_services() %}
{% set xroad_distinct_services = xroad_distinct_services[0] or {} %}
{% set ckan_stats = h.get_statistics() %}
<div class="container" style="max-width: 100%; padding-top: 30px; padding-bottom: 30px;">
    <table class="table table-condensed table-hover">
        <tr class="active">
            <td class="col-sm-3">
                <b>{% trans %}X-ROAD Graphs{% endtrans %}</b>&nbsp;&nbsp;<i>{{h.render_datetime(h.date_str_to_datetime(xroad_stats.get('date', '')), "%d.%m.%Y")}}</i>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="col-sm-3">
                <b>{% trans %}X-Road Environment:{% endtrans %}</b>
            </td>
            <td class="col-sm-9">
                {{xroad_stats.get('instanceIdentifier', '')}}
            </td>
        </tr>
        <tr>
            <td>
                <b>{% trans %}Subsystems: {% endtrans %}</b>
            </td>
            <td>
                {{xroad_stats.get('subsystems', '')}}
            </td>
        </tr>
        <tr>
            <td>
                <b>{% trans %}Members: {% endtrans %}</b>
            </td>
            <td>
                {{xroad_stats.get('members', '')}}
            </td>
        </tr>
        <tr>
            <td>
                <b>{% trans %}SecurityServers: {% endtrans %}</b>
            </td>
            <td>
                {{xroad_stats.get('securityServers', '')}}
            </td>
        </tr>
        <tr class="active">
            <td colspan="2">
                <b>{% trans %}X-ROAD Catalog - Services{% endtrans %}</b>&nbsp;&nbsp;<i>{{h.render_datetime(h.date_str_to_datetime(xroad_services.get('date', '')), "%d.%m.%Y")}}</i>
            </td>
        </tr>
        <tr>
            <td>
                <b>{% trans %}SOAP services: {% endtrans %}</b>
            </td>
            <td>
                {{xroad_services.get('soap_service_count', '')}}
            </td>
        </tr>
        <tr>
            <td>
                <b>{% trans %}REST services: {% endtrans %}</b>
            </td>
            <td>
                {{xroad_services.get('rest_service_count', '')}}
            </td>
        </tr>
        <tr>
            <td>
                <b>{% trans %}OpenAPI services: {% endtrans %}</b>
            </td>
            <td>
                {{xroad_services.get('openapi_service_count', '')}}
            </td>
        </tr>
        <tr class="active">
            <td colspan="2">
                <b>{% trans %}X-ROAD Catalog - Distinct Services{% endtrans %}</b>&nbsp;&nbsp;<i>{{h.render_datetime(h.date_str_to_datetime(xroad_distinct_services.get('date', '')), "%d.%m.%Y")}}</i>
            </td>
        </tr>
        <tr>
            <td>
                <b>{% trans %}Distinct services: {% endtrans %}</b>
            </td>
            <td>
                {{xroad_distinct_services.get('distinct_service_count', '')}}
            </td>
        </tr>
        <tr class="active">
            <td colspan="2">
                <b>{% trans %}CKAN{% endtrans %}</b>&nbsp;&nbsp;<i>Current</i>
            </td>
        </tr>
        <tr>
            <td>
                <b>{% trans %}Public subsystems: {% endtrans %}</b>
            </td>
            <td>
                {{ckan_stats.get('package_count', '')}}
            </td>
        </tr>
        <tr>
            <td>
                <b>{% trans %}Total organizations: {% endtrans %}</b>
            </td>
            <td>
                {{ckan_stats.get('organization_count', '')}}
            </td>
        </tr>
        <tr>
            <td>
                <b>{% trans %}Provider organizations: {% endtrans %}</b>
            </td>
            <td>
                {{ckan_stats.get('provider_organizations', '')}}
            </td>
        </tr>
    </table>
</div>
{% endblock %}