{% extends "admin/base.html" %}
{% import 'macros/form.html' as form %}

{% block primary_content_inner %}
<form id="new-user-form" method="post">
  {{ form.errors(errors) }}
  {% if success %}
  <div class="alert alert-success" role="alert">
    {{ _('Successfully created user %(name)s &lt;%(email)s&gt;. Password reset mail sent.', name=name, email=email) }}
  </div>
  {% endif %}
  <fieldset>
      <legend>{{ _('Add user') }}</legend>
      {{ form.input('name', label=_('Username'), id='field-username', classes=['control-medium'], is_required=true, attrs={'class': 'form-control'}) }}

      {{ form.input('email', label=_('Email'), id='field-email', type='email', placeholder=_('eg. joe@example.com'), classes=['control-medium'], is_required=true) }}
  </fieldset>
  <button class="btn btn-primary" type="submit" name="save">{{ _('Submit') }}</button>
</form>
{% endblock %}
