{% ckan_extends %}

{% block content_primary_nav %}
        <ul class="nav nav-tabs">
          {{ h.build_nav_icon('dashboard.index', _('News feed'), icon='list') }}
          {{ h.build_nav_icon('dashboard.datasets', _('My Datasets'), icon='sitemap') }}
          {{ h.build_nav_icon('dashboard.organizations', _('My Organizations'), icon='building-o') }}
          {% if h.is_extension_loaded('apply_permissions_for_service') %}
            {{ h.build_nav_icon('apply_permissions.dashboard', _('Service access applications'), icon='file-text-o') }}
          {% endif %}
        </ul>
{% endblock %}
