{% ckan_extends %}

{% block form %}
    <p>{% trans %}If you do not have a user account, contact your organisation's administrator and ask them to invite you. If you do not know who the administrator is, or if your organisation does not have one, contact <a href="mailto:palveluvayla@palveluvayla.fi">palveluvayla@palveluvayla.fi</a> and request a user account.{% endtrans %}</p>
    {% snippet "user/snippets/login_form.html", action=g.login_handler, error_summary=error_summary %}
{% endblock %}

{% block help_forgotten %}
<section class="module main-heading">
    {% block help_forgotten_inner %}
        <h2 class="module-heading">{{ _('Forgotten your password?') }}</h2>
        <div class="module-content">
            <p>{% trans %}No problem, use our password recovery form to reset it.{% endtrans %}</p>
            <p class="action">
                {% block help_forgotten_button %}
                    <a class="btn btn-default" href="{{ h.url_for('user.request_reset') }}">{{ _('Forgot your password?') }}</a>
                {% endblock %}
            </p>
        </div>
    {% endblock %}
</section>
{% endblock %}
