<div class="row d-block d-sm-none offcanvas-button-row">
  {% block offcanvas_button %}
    <div class="offcanvas-button-wrapper-left navbar">
    <button type="button" class="navbar-toggle offcanvas-toggle" data-bs-toggle="offcanvas" data-bs-target="#js-bootstrap-offcanvas">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  {% endblock %}
  <span class="offcanvas-label">{% block offcanvas_label %}{% endblock %}</span>
  {% block offcanvas_extra_content %}{% endblock %}
</div>
