127.0.0.1      localhost

{% if deployment_environment_id == "vagrant" %}
# The following line is required for SSL key validation to work with tunnel forwarding (commented away as we are not using tunnel currently)
# 127.0.0.1 {{ xroad.securityserver.host }}
{% elif deployment_environment_id == "qa" %}
86.50.28.125    katalogitest01.csc.fi   katalogitest01
{% elif deployment_environment_id == "prod" %}
86.50.28.126    katalogiprod01.csc.fi   katalogiprod01
{% endif %}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
