{% import 'macros/form.html' as form %}


<div class="additional_application_info_step">
    <h3>{{ _('Sending additional info') }}</h3>
    <p>{{ _('Requested subsystem is managed by a company that requires additional info') }}</p>
    <h4>{{ _('1. Download file and fill required information') }}</h4>
    <div class="additional_application_info--download">
        <div class="application-file">
            <i class="fal fa-file-alt"></i>
            {{ pkg.get('service_permission_settings', {}).get('original_additional_filename') }}
        </div>
        <a class="btn btn-outline-primary" href="{{ pkg.get('service_permission_settings', {}).get('additional_file_url') }}" target="_blank">
            <i class="far fa-arrow-to-bottom"></i>
            {{ _('Download') }}
        </a>
    </div>
</div>

<div class="additional_application_info_step">
    <h4>{{ _('2. Add completed file into the application') }}</h4>
    {% set is_upload = data.file_url and not data.file_url.startswith('http') %}
    {% set is_url = data.file_url and data.file_url.startswith('http') %}
    {{ form.image_upload_dragndrop(
        data,
        errors,
        upload_label=_('Add your file'),
        is_upload_enabled=h.uploads_enabled(),
        is_url=is_url,
        is_upload=is_upload,
        field_url='file_url',
        field_upload='file',
        field_clear='clear_upload',
        max_filesize=h.max_resource_size(),
        max_total_size=h.max_resource_size()
        )
    }}
</div>