{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(url_action, id=pkg.name, resource_id=res.id) %}

<li class="resource-item" data-id="{{ res.id }}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-9">
        <a href="{{ url }}" title="{{ res.name or res.description }}">
          <div class="container-fluid">
            {% block resource_item_title %}
              <span class="resource-title">{{ h.resource_display_name(res) | truncate(50) }} {% if res.xroad_service_type and res.xroad_service_type != 'error' %}({{res.xroad_service_type|upper}}){% endif %}</span>
              <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">
                {{ res.format }}
              </span>
              {{ h.popular('views', res.tracking_summary.total, min=10) }}
            {% endblock %}
            {% block resource_item_description %}
              <p class="description">
                {% if res.description %}
                  {{ h.markdown_extract(h.ensure_translated(res.description), extract_length=80) }}
                {% endif %}
              </p>
              {% if res.valid_content == 'no' %}<span class="label label-danger">{{ _("Invalid content") }}</span>{% endif %}
            {% endblock %}
          </div>
        </a>
      </div>
      <div class="col-xs-3 hidden-xs">
      <div class="container-fluid resource-download">
        {% block resource_item_explore %}
        {% if not url_is_edit %}
            {% if res.url and h.is_url(res.url) %}
              <a href="{{ res.url }}" class="resource-url-analytics" target="_blank" aria-label="{{ _('Download') + ' ' + h.resource_display_name(res) + ' ' + res.format  }}">
                  <i class="fal fa-download" aria-hidden="true"></i>
                  <span aria-hidden="true">{{ _('Download') }}</span>
              </a>
            {% endif %}
        {% endif %}
        {% endblock %}
      </div>
      </div>
    </div>
  </div>
</li>
