
server {

  listen 443 ssl;
  server_name {{ public_facing_hostname }};

  location / {
    proxy_pass http://127.0.0.1:8080/;
    proxy_set_header X-Url-Scheme $scheme;
    proxy_set_header Host $host;
  }

}

{% if nginx.alternative_hostnames %}
# Redirect from alternative hostnames to primary hostname
server {
  listen 443 ssl;
  server_name {{ nginx.alternative_hostnames }};
  return 301 https://{{ public_facing_hostname }}$request_uri;
}
{% endif %}

# Redirect HTTP to HTTPS
server {
  listen 80;
  server_name {{ public_facing_hostname }};
  return 301 https://$server_name$request_uri;
}
