{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block admin_form %}
    {{ super() }}
    {{ form.input('ckanext.apicatalog_ui.service_alert.fi.message', id='field-ckanext.apicatalog_ui.service_alert.fi.message', label=_('Service message fi'), value=data['ckanext.apicatalog_ui.service_alert.fi.message'], error=errors['ckanext.apicatalog_ui.service_alert.fi.message']) }}
    {{ form.input('ckanext.apicatalog_ui.service_alert.sv.message', id='field-ckanext.apicatalog_ui.service_alert.sv.message', label=_('Service message sv'), value=data['ckanext.apicatalog_ui.service_alert.sv.message'], error=errors['ckanext.apicatalog_ui.service_alert.sv.message']) }}
    {{ form.input('ckanext.apicatalog_ui.service_alert.en_GB.message', id='field-ckanext.apicatalog_ui.service_alert.en_GB.message', label=_('Service message en'), value=data['ckanext.apicatalog_ui.service_alert.en_GB.message'], error=errors['ckanext.apicatalog_ui.service_alert.en_GB.message']) }}
    {{ form.markdown('ckanext.apicatalog_ui.info_message.fi', id='field-ckanext.apicatalog_ui.info_message.fi', label=_('Info message fi'), value=data['ckanext.apicatalog_ui.info_message.fi'], error=errors['ckanext.apicatalog_ui.info_message.fi']) }}
    {{ form.markdown('ckanext.apicatalog_ui.info_message.sv', id='field-ckanext.apicatalog_ui.info_message.sv', label=_('Info message sv'), value=data['ckanext.apicatalog_ui.info_message.sv'], error=errors['ckanext.apicatalog_ui.info_message.sv']) }}
    {{ form.markdown('ckanext.apicatalog_ui.info_message.en_GB', id='field-ckanext.apicatalog_ui.info_message.en_GB', label=_('Info message en'), value=data['ckanext.apicatalog_ui.info_message.en_GB'], error=errors['ckanext.apicatalog_ui.info_message.en_GB']) }}
    {{ form.input('ckanext.apicatalog_routes.readonly_users', id='field-ckanext.apicatalog_routes.readonly_users', label=_('Readonly admins'), value=data['ckanext.apicatalog_routes.readonly_users'], error=errors['ckanext.apicatalog_routes.readonly_users']) }}
{% endblock %}
