{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block admin_form %}
    {{ super() }}
    {{ form.input('ckanext.apicatalog_ui.service_alert.message', id='field-ckanext.apicatalog_ui.service_alert.message', label=_('Service message'), value=data['ckanext.apicatalog_ui.service_alert.message'], error=errors['ckanext.apicatalog_ui.service_alert.message']) }}
    {{ form.markdown('ckanext.apicatalog_ui.info_message', id='field-ckanext.apicatalog_ui.info_message', label=_('Info message'), value=data['ckanext.apicatalog_ui.info_message'], error=errors['ckanext.apicatalog_ui.info_message']) }}
    {{ form.input('ckanext.apicatalog_routes.readonly_users', id='field-ckanext.apicatalog_routes.readonly_users', label=_('Readonly admins'), value=data['ckanext.apicatalog_routes.readonly_users'], error=errors['ckanext.apicatalog_routes.readonly_users']) }}
{% endblock %}
