---

# To run:
# ansible-playbook -v -i inventories/vagrant deploy-xroad-gateway.yml

- hosts: mainserver
  become: true
  vars_files:
    - "vars/common.yml"
    - "vars/environment-specific/{{ deployment_environment_id }}.yml"
    - "{{ secrets_file_path }}"
  roles:
    - { role: xroad-tunnel, when: "deployment_environment_id == 'vagrant'" }
    - xroad-gateway
