---

ckan_version: 2.8.2

ckan_internal_port: 5000
harvester_user: "{{ www_user }}"
celery_user: "{{ www_user }}"

# plugin order matters, when templates call super()
ckan_plugins: pages text_view apicatalog_scheming scheming_datasets fluent apicatalog_ui apicatalog_admin_dashboard apicatalog_routes contact apicatalog_feed harvest xroad_harvester wsdl_view validate_links saha paha webpage_view

redis_harvest_database: 0
redis_celery_database: 1

ckan_storage_path: "{{ data_path }}/ckan"
ckan_uploads_path: "{{ ckan_storage_path }}/storage/uploads"
ckan_max_resource_size: 50

ckan_site_id: "default"

patches_cache_path: "{{ cache_path }}/patch"
ckan_source_path: "{{ virtualenv }}/src/ckan"
ckan_public_source_path: "{{ ckan_source_path }}/ckan/public"

service_database_enabled: false
auto_author_enabled: true

ckan_patches:
  - { file: "remove_gravatar" }
  - { file: "csrf" }
  - { file: "alert_fix" }
  - { file: "allow_org_admins_create_users" }
  - { file: "set_attachment_content_disposition" }
  - { file: "prevent_reset_scanning" }
  - { file: "fix_unicode_decode_error_in_error_page" } # https://github.com/ckan/ckan/pull/4727

files_created_by_patches:
  - { file: '/usr/lib/ckan/default/src/ckan/ckan/lib/csrf_token.py'}

search_engine_robots_filename: robots_disallowed.txt
