{% ckan_extends %}

{% block subtitle %}
	{{ _('About') }}
	{{ g.template_title_delimiter }}
	{{ super() }}
{% endblock %}

{% block primary %}
	<div class="row">
		<div class="col-sm-8">
			{% block organization_description %}
				{% if c.group_dict.description %}
					{{ h.render_markdown(h.get_translated(c.group_dict, 'description')) }}
				{% endif %}
			{% endblock %}
			{% block organization_extras %}


                {%- set exclude_fields = [
                    'id',
                    'title',
                    'title_translated',
                    'name',
                    'description_translated',
                    'organization_guid',
                    'old_business_ids'
                ] -%}

                <dl>
                    {% if c.group_dict['webpage_address'] %}

                    {% endif %}


                    {% for f in c.scheming_fields %}
                        {%- if f.field_name not in exclude_fields
                            and f.display_snippet is not none
                            and c.group_dict[f.field_name]-%}
                        <dt>{{ h.scheming_language_text(f.label) }}:</dt>
                        <dd>{%- snippet 'scheming/snippets/display_field.html',
          field=f, data=c.group_dict, schema=schema -%}</dd>
                        {% endif %}
                    {% endfor %}
                </dl>
			{% endblock %}
		</div>
		<div class="col-sm-4">
			<img src="{{c.group_dict.image_display_url}}"/>
		</div>
	</div>
{% endblock %}
