{% ckan_extends %}

{% set org_list = h.custom_organization_list(request.args) %}

{% block prelude %}
<h1>{{ _('Organizations') }}</h1>
<p>{% trans %}Organizations are used to create, manage and publish APIs and datasets. Users may have various roles and privileges to create, modify and publish APIs within an organization.{% endtrans %}</p>
<div class="result-count">{{ _('{0} organizations').format(org_list.count) }}</div>
{% endblock %}

{% set sorting = [(_('Service providers first'), ''), (_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}

{% block organizations_search_form %}
{% endblock %}

{% block organizations_list %}
  {% if org_list.organizations or request.args %}
    {% if org_list.organizations %}
    <div class="fill-module">
      {% snippet "organization/snippets/organization_list.html", organizations=org_list.organizations %}
    </div>
    {% endif %}
  {% else %}
    <p class="empty">
      {{ _('There are currently no organizations for this site') }}.
      {% if h.check_access('organization_create') %}
        {% link_for _('How about creating one?'), controller='organization', action='new' %}.
      {% endif %}
    </p>
  {% endif %}
{% endblock %}

{% block secondary_content %}
  <div class="module main-heading">
    <h2 class="module-heading">{{ _('Filter list') }}</h2>
  </div>
  <div class="module module-shallow">
    <div class="sorter-wrapper with-search">
        {% set sorting_selected = c.sort_by_selected or '' %}
        {% snippet 'organization/snippets/search_form.html', form_id='organization-search-form', type='organization', query=c.q, sorting_selected=sorting_selected, count=c.page.item_count, placeholder=_('Type in name of organization'), show_empty=request.args, no_bottom_border=true if c.page.items, sorting = sorting %}
    </div>
  </div>
{% endblock %}

{% block page_pagination %}
  {% set symbol_next %}
    <span aria-hidden='true'>»</span><span class='sr-only'>{{ _('Next') }}</span>
  {% endset %}
  {% set symbol_previous %}
    <span aria-hidden='true'>«</span><span class='sr-only'>{{ _('Previous') }}</span>
  {% endset %}
  {{ org_list.page.pager(q=q or '', sort=c.sort_by_selected or '', provider_orgs=org_list.provider_orgs or '', link_attr={'aria-label': _('Go to page')}, symbol_next=symbol_next, symbol_previous=symbol_previous) }}
{% endblock %}
