[depends]

ckan =
    javascript/bootstrap.js
    javascript/bootstrap.offcanvas.js
    font-awesome/css/font-awesome.css
    
[groups]

ckan =
    javascript/modules/select-switch.js
    javascript/modules/slug-preview.js
    javascript/modules/basic-form.js
    javascript/modules/confirm-action.js
    javascript/modules/api-info.js
    javascript/modules/autocomplete.js
    javascript/modules/custom-fields.js
    javascript/modules/related-item.js
    javascript/modules/data-viewer.js
    javascript/modules/table-selectable-rows.js
    javascript/modules/resource-form.js
    javascript/modules/resource-upload-field.js
    javascript/modules/resource-reorder.js
    javascript/modules/resource-view-reorder.js
    javascript/modules/follow.js
    javascript/modules/activity-stream.js
    javascript/modules/dashboard.js
    javascript/modules/resource-view-embed.js
    javascript/view-filters.js
    javascript/modules/resource-view-filters-form.js
    javascript/modules/resource-view-filters.js
    javascript/modules/table-toggle-more.js
    javascript/modules/dataset-visibility.js
    javascript/modules/media-grid.js
    javascript/modules/image-upload.js
    javascript/util.js
    javascript/modules/sticky-header.js
