[main]

dont_bundle = font-awesome/css/all.css

[custom render order]

apply_html_class = 1

[inline scripts]

apply_html_class =
  document.getElementsByTagName('html')[0].className += ' js';

[depends]

ckan =
    javascript/bootstrap.js
    javascript/bootstrap.offcanvas.js
    font-awesome/css/all.css
    font-awesome/css/v4-shims.css
    source-sans-pro/css/source-sans-pro.css

[groups]

ckan =
    javascript/modules/select-switch.js
    javascript/modules/slug-preview.js
    javascript/modules/basic-form.js
    javascript/modules/confirm-action.js
    javascript/modules/api-info.js
    javascript/modules/autocomplete.js
    javascript/modules/custom-fields.js
    javascript/modules/related-item.js
    javascript/modules/data-viewer.js
    javascript/modules/table-selectable-rows.js
    javascript/modules/resource-form.js
    javascript/modules/resource-upload-field.js
    javascript/modules/resource-reorder.js
    javascript/modules/resource-view-reorder.js
    javascript/modules/follow.js
    javascript/modules/activity-stream.js
    javascript/modules/dashboard.js
    javascript/modules/resource-view-embed.js
    javascript/view-filters.js
    javascript/modules/resource-view-filters-form.js
    javascript/modules/resource-view-filters.js
    javascript/modules/table-toggle-more.js
    javascript/modules/dataset-visibility.js
    javascript/modules/media-grid.js
    javascript/modules/image-upload.js
    javascript/util.js
    javascript/fix-popovers.js

main =
    apply_html_class
    javascript/plugins/jquery.inherit.js
    javascript/plugins/jquery.proxy-all.js
    javascript/plugins/jquery.url-helpers.js
    javascript/plugins/jquery.date-helpers.js
    javascript/plugins/jquery.slug.js
    javascript/plugins/jquery.slug-preview.js
    javascript/plugins/jquery.truncator.js
    javascript/plugins/jquery.masonry.js
    javascript/plugins/jquery.form-warning.js
