[main]

dont_bundle = font-awesome/css/all.css
order = xroad_stats/js/libs/Chart.js xroad_stats/css/Chart.css xroad_stats/js/libs/chartjs-datalabels.js xroad_stats/js/xroad_statistics.js

[custom render order]

apply_html_class = 1

[inline scripts]

apply_html_class =
  document.getElementsByTagName('html')[0].className += ' js';

[depends]

ckan =
    javascript/bootstrap.offcanvas.js
    javascript/multiple_input.js
    javascript/multiselect.js
    javascript/mutexfield.js
    font-awesome/css/all.css
    font-awesome/css/v4-shims.css
    source-sans-pro/css/source-sans-pro.css

[groups]

ckan =
    javascript/view-filters.js
    javascript/modules/tablesorter.js
    javascript/util.js

main =
    apply_html_class
    javascript/plugins/jquery.tablesorter.js

xroad_stats =
    xroad_stats/css/Chart.css
    xroad_stats/js/libs/Chart.js
    xroad_stats/js/libs/chartjs-datalabels.js
    xroad_stats/css/xroad_statistics.css
    xroad_stats/js/xroad_statistics.js

cookieconsent =
    cookieconsent/cookieconsent.js
    cookieconsent/cookieconsent.css
    cookieconsent/ckan-cookieconsent.js
    cookieconsent/ckan-cookieconsent.css